#header_interno{background:#fff; width:280px; float:left; margin-top:15px;}
#wrapper #header_interno h1 {background-image:none; width:280px; height:85px;}
#header_interno h1 a {background:url(logo_portal_del_empleo2.gif) no-repeat bottom; display:block; height:85px;}
#cuerpo_int #contenido_principal a {color: #FF6600; text-decoration: none; cursor:pointer;}
#cuerpo_int #contenido_principal a:hover {text-decoration: underline;}
#espacio_buscador_int #buscador_int {display: block; height:125px; float:left; width:570px; height:85px; background:url(fnd_buscador2.jpg) no-repeat bottom;}
#espacio_buscador_int #buscador_int404 {display: block; height:125px; float:left; width:570px; height:85px; background:url(fnd_buscador404.jpg) no-repeat bottom;}
#espacio_buscador_int {display:block; float:left; height:85px; width:682px; margin-top:15px;}

#espacio_buscador_int #ayuda_buscador a{background:url(ayuda_buscador2.png); display:block; float:left; width:111px; height:85px; text-indent:-9000px;}
#espacio_buscador_int #buscador_int form {background:transparent url(fnd_campo_buscador2.png) no-repeat; display:block; height:28px; margin:25px 0 0 35px; padding:2px 0 0 10px; width:400px;}
#buscador_int form input{border: none; color:#4F4F4F; font-family:'Droid Sans'; font-size:18px; font-weight:bold; height:23px; width:295px; background: none;}
#buscador_int form #bt_buscador{ border:none; background:transparent url(bt_ocupate2.png) no-repeat; font-size:12px; height:34px; text-indent:-9000px; width:58px;}
#buscador_int p{font-size:11px;}
#buscador_int .ejemplo { float:left; margin:6px 0 0 40px; width:290px; }
#buscador_int #bt_b_avanzada {float:left; margin:6px 0 0; width:150px;}
#buscador_int #bt_b_avanzada a {color:#FFFFFF; text-decoration:none;}
#buscador_int #bt_b_avanzada a img{border:none;}

#buscador_int div#ta_31.swb-ilta, #buscador_int div#ilta_31.swb-ilta{ color:#FFFFFF; float:right; font-size:18px; font-weight:normal; margin:30px 33px 0 0;}
#buscador_int span.numero_ofertas { color:#FFFFFF; display:block; float:right; font-family:'Droid Sans'; font-size:11px; font-weight:bold; left:109px; position:relative; top:50px; width:119px; }

#cuerpo_int {background: url(fnd_cuerpo2.png) repeat-y; float:left; }
#cuerpo_int #contenido_principal h2 {font-family:'Droid Sans'; color:#666666; font-size:1.8em; font-style:normal; line-height:1em; font-weight:600; margin:0 0 20px; }
#cuerpo_int #contenido_principal #contenido.frames h2 {margin: 20px;}
#cuerpo_int #contenido{ color:#333333; font-size:0.75em; line-height:1.6em; padding:24px;}
#cuerpo_int #contenido.frames {padding: 0;}
#cuerpo_int #contenido p{ margin-bottom:28px; text-align:justify;}
#cuerpo_int #contenido table table td { padding: 5px 0; }
#cuerpo_int #contenido table table .textmin, #cuerpo_int #contenido table table .textmin p { text-align: right; padding: 3px 15px 0 0; }
#cuerpo_int #contenido table table .textmin { margin: 0; }
#cuerpo_int #contenido table table input, #cuerpo_int #contenido table table select, #cuerpo_int #contenido table table textarea { border: 1px solid #ccc; text-align: left !important; padding: 3px 0 !important; width: 300px; }
#cuerpo_int #contenido table table #conCopia, #cuerpo_int #contenido table table #sinCopia { width: 100px !important; text-align: right !important; }
#ayuda input.btn { background: #F47513; border: none; color: #FFF; margin: 0 10px 0 0; padding: 3px; margin: 40px 0 0 400px;}
#cuerpo_int #contenido_principal {background:#FFFFFF url(sombra_contenido.png) repeat-x; float:left; margin-left:3px; width:691px;}
#cuerpo_int #contenido_principal.sinCol{background:#FFFFFF url(sombra_contenido.png) repeat-x; float:left; margin-left:3px; width:956px;}
#cuerpo_int #columna_articulos {background:#eee url(sombra_contenido.png) repeat-x scroll 0 0; padding:0; float:left; width:265px;}
#cuerpo_int #contenido_principal #ruta_navegacion { float:left; font-size:11px; margin:14px 14px 0 21px; width:auto;}
.addthis_toolbox { margin: 10px 0 0 0; }
#cuerpo_int #intro_canal img {margin-right:10px; float:left; margin-top: 20px;}
#cuerpo_int #intro_canal h2 {font-family:'Droid Sans'; font-size:32px; text-align:right; margin:35px 27px 0 0;}
#cuerpo_int #contenido_principal #intro_canal p { font-size:12px; margin:20px 27px 0 0; text-align:justify; }
#cuerpo_int #contenido_principal #ruta_navegacion a {text-decoration:none; color:#000;}
#cuerpo_int #contenido_principal #ruta_navegacion a:hover {text-decoration:underline;}
#cuerpo_int ul#navegacion_local{background:url(sombra_contenido.png) repeat-x scroll 0 0 #d7d7d7; padding:10px 0 0 0;}
#cuerpo_int #navegacion_local li a {font-size:12px; color:#000; text-decoration:none; display:block; background:url(bullet_naranja1.gif) no-repeat 20px 12px #d7d7d7; border-bottom:1px solid #bbb; border-top:1px solid #d7d7d7; padding: 5px 0 5px 29px;}
#cuerpo_int ul#navegacion_local li > ul li a {    background:none repeat scroll 0 0 #EAEAEA; border-top:1px solid #EAEAEA; border-bottom:1px solid #EAEAEA; font-size:12px; padding:0 0 0 30px; }
#cuerpo_int ul#navegacion_local li > ul li a:hover,#cuerpo_int #navegacion_local li a:hover { background:#7f807f; color:#fff; text-decoration:none; border-top:1px solid #fff;border-bottom:1px solid #fff; }

li.swb-menumap-cur  {     background:url(bullet_current.png) no-repeat 0 5px; display:block; font-size:12px; text-decoration:none; padding:5px 0 5px 30px; }
li.swb-menumap-cur li {
	margin:0 0 0 -30px; }
li li.swb-menumap-cur  {
	padding:5px 0 5px 30px; border-top:1px solid #7f807f; border-bottom:1px solid #7f807f; }
li li.swb-menumap-cur li {
	padding:0 0 0 25px; }	
#cuerpo_int ul#navegacion_local li li.swb-menumap-cur ul li a {
	background:#d7d7d7; border:none; margin:0 0 0 -25px; padding:0 0 0 35px; }
#cuerpo_int ul#navegacion_local li li.swb-menumap-cur ul li a:hover {
	background:#7f807f; color:#fff; 
}
#cuerpo_int ul#navegacion_local li li.swb-menumap-cur ul li:first-child{ padding:5px 0 0 25px; }
ul#navegacion_local li > ul li a{     background:yellow; display:block; font-size:12px; min-height:23px; text-decoration:none; padding:0 0 0 10px; }
ul#navegacion_local .swb-menumap-cur ul{ text-indent:0; }
#cuerpo_int #contenido_principal #siguenos {background:url(fnd_siguenos2.gif) no-repeat; height:24px;}
#cuerpo_int #contenido_principal #siguenos .twitter a, #cuerpo_int #contenido_principal #siguenos .rss a{height:20px; padding:5px 0 0 25px;}
#cuerpo_int #siguenos .twitter a, #siguenos .rss a{background:transparent url(logo_twitter.gif) no-repeat;}
#cuerpo_int #siguenos .rss a {background:url(logo_rss.gif) no-repeat;}
#cuerpo_int .esbozo {font-size:11px; line-height:19px; padding:20px 30px; display:block; width:169px; height:320px; float:left; border-right:1px solid #d3d3d3; border-bottom:1px solid #d3d3d3; overflow:auto;}
#cuerpo_int .esbozo:last-child {border-right:none; border-bottom:1px solid #d3d3d3;}
#cuerpo_int .esbozo h3{color:#ff6600; font-family:'Droid Sans'; font-size:20px; margin-bottom:15px;}
#login_interno label {font-size: 11px; font-weight: bold; color:#333; margin:0 0 0 30px; }
#login_interno #Nombre_usuario, #login_interno #password, #username { background:transparent; border:medium none; margin:5px 0 5px 5px; width:200px;}
#login_interno a {color:#333; font-size:10px; margin:0 0 0 25px; text-decoration:none;}
#login_interno a:hover {text-decoration:underline;}
#usuario_password {background:url("fnd_login.gif") no-repeat; height:50px; margin:8px 0 10px 20px; width:220px;}
#columna_articulos #ofertas {background: #cecece; height:20px; text-align:center; padding-top:3px;}
#columna_articulos #ofertas a{color:#FF6600;}
#perfil_usuario_interno {background:url("espacio_perfil2.png") no-repeat 13px 0 transparent; height:136px;}
#espacio_candidato, #espacio_empresa {display:block; height:50px; text-indent:-90000px; width:100%;}
#cuerpo_int #columna_articulos .tips {background:url(tips_img2.png) no-repeat; width:170px; margin:0 0 0 20px; padding-top:10px; line-height:15px;}
#cuerpo_int #columna_articulos .foro {background:url(foro_img2.png) no-repeat; width:170px; margin:0 0 0 20px; height:35px;}
.relacionados h4 {font-size:14px; font-weight: bold; color: 454545; margin-left:20px;}
.relacionados a {font-size: 11px; color: #454545; text-decoration:none; background:url("bullet_naranja1.gif") no-repeat scroll 20px 12px; display:block; height:19px; padding:7px 0 0 29px; width:236px;}
.relacionados a:hover{text-decoration:underline;}
#calculadora {height:50px; background:url(calculadora.png) 20px 0 no-repeat; margin-top:10px;}
#calculadora p a{width:50%; margin-left:30%; background:none; padding:5px; line-height:15px;}
#calculadora p a:hover{text-decoration:underline;}

/*Twitter*/
/*#twitter_widget h4 {background: url(twitter_widget.gif) -10px 0 no-repeat; display:block; height:60px; text-indent:-9000px; margin-top:10px;}*/
#twitter_widget {background: #fff; margin:20px 0;}
#twitter_widget li {font-size: 11px;color: 595959; margin:0 20px; padding:15px 0;  border-bottom:1px solid #a3a3a3;}
#twitter_widget li:last-child {border-bottom:none;}
#twitter_widget a {color: #FF6600; background:none; display:inline; padding:0;}


/* Arreglos sugeridos por Salvador Aguilar 04/04/11  */
.imagen { float:right; margin-left:10px; text-align:center; width:300px;}
#caja-contenido { float:left; font-size:1em; font-style:normal; width:650px;}
.descripcion-cont { color:#666666; float:left; font-size:1em; font-style:italic; line-height:1.6em; margin-top:10px; text-align:left; width:340px;}
.descripcion-cont h3 { color:#666666; font-size:1.6em; font-style:normal; font-weight:lighter; line-height:normal; margin:20px 0 20px;}
.imagen p { color:#666666; font-size:0.8em; font-style:normal; line-height:1.2em; text-align:center !important;}

/* Indice eventos */
.entradaVideos { -moz-border-radius:6px 6px 6px 6px; border:1px solid #CCCCCC; margin-bottom:10px; padding:10px 10px 0; width:97.5%; background:#eee;}
.thumbVideo { float:left; width:135px;}
.infoVideo { display:block; width:730px;}
.entradaVideos img { border:1px solid #454545; float:none; padding:2px;}
.entradaVideos h3 { font-size:1.2em; color:#4F4F4F; font-family:'Droid Sans'; width:630px;}
p.fechaVideo { font-size:0.9em;}
.vermas a { background:url("bullet_naranja1.gif") no-repeat scroll 10px 8px transparent; color:#666666; display:block; float:right; font-size:11px; padding:0 0 0 20px; text-decoration:none;}
.vermas a:hover { text-decoration:underline !important; }
.infoVideo p { margin:0 !important; width:630px; }
.clear { clear:both; height:1px;}


/* HISTORICO EVENTOS */

.AccordionPanelTab { background:url("activa_perfil.jpg") repeat-x; border-top:1px solid #C2C2C2; border-top:1px solid #C2C2C2; cursor:pointer; height:40px;font-family:'Droid Sans'; font-size:20px; font-weight:bold; height:40px; margin:0 0 0 -24px; padding:15px 25px 0 0; text-align:right; width:666px; }
.AccordionPanelContent { height:auto; margin:0; overflow:auto; padding:0;}
.mesNoticias { margin-bottom:15px; width:640px;}
#contenido h3.tituloSeccion { background:url("fnd_proceso.jpg") repeat-x 0 3px; border-top:1px solid #C2C2C2; color:#E95D1D; font-family:'Droid Sans'; height:26px; margin:0 0 0 -24px; padding:5px 0 0 22px; width:680px; }
.AccordionPanelContent .mesNoticias h3 { font-family:'Droid Sans'; text-align:right; }
#noticiasRecientes .noticia, .AccordionPanelContent .mesNoticias .noticia { background:url("division2.jpg") no-repeat center top; padding:20px 0 0 0;}
#noticiasRecientes .noticia { margin:20px 0 0 0; }
#noticiasRecientes .noticia h4 { font-family:'Droid Sans'; color:#E95D1D; }
#noticiasRecientes .noticia img, .AccordionPanelContent .mesNoticias .noticia img { float:left; margin:10px; }
a.verNotaCompleta { display:block; text-align:right; }
a#noticiasAnteriores { background:url("fnd_proceso.jpg") repeat-x 0 3px; border-top:1px solid #C2C2C2; color:#E95D1D; height:26px; margin:0 0 0 -24px; padding:5px 0 0 22px; width:680px; float:left; }/**/

/* Botón canal oferta perfil */
a#ofertaPerfiles { -moz-border-radius:5px 5px 5px 5px; background:none repeat scroll 0 0 #F47513; border:medium none; color:#FFFFFF !important; cursor:pointer; font-size:12px; margin:0 0 0 200px; padding:5px; position:absolute; top:420px; }

/*ESTILO AGREGADO PARA AJUSTE EN MAPA SNE*/
/*#cuerpo_int #contenido table td{ line-height: 0px;}*/
#cuerpo_int #contenido table td.mapa{ line-height: 0px;}
#buscador_int .ayuda1 {
    display: block;
    float: right;
    height: 34px;
    text-indent: -9000px;
    width: 36px;
	background: url("ico_pregunta_2.png") no-repeat;
}