* { margin:0; padding:0; }
hr{ 1px solid red}
h2, h3, h4{ font-family:'Droid Sans',Geneva, Arial, Helvetica, sans-serif; color:#666; }
h3 { font-size: 18px; padding-bottom:10px; }
.boton { background:none repeat scroll 0 0 #F47513; border:medium none; color:#FFFFFF; margin:0 10px 0 0; padding:3px; }

/* ESTILOS DE LA RUTA DE NAVEGACION */
#ruta_perfil{ background:url("images/ruta_fdo.jpg") repeat-x; border-bottom:1px solid #C9C9C9; float:left; height:25px; margin:0 3px; width:956px; }
#ruta_perfil span{ background:url("images/ruta_fcha.jpg") no-repeat; padding-left: 21px; padding-bottom: 9px; padding-top: 2px; }
#ruta_perfil span.text{ background:url("images/flecha_ruta.png") no-repeat scroll right center transparent; color:#333333; display:block; float:left; font-family:Myriad Pro,'Puritan',arial,serif; font-size:16px; font-weight:bold; height:25px; padding:0 10px; width:auto; }
#ruta_perfil a{ font-size: 11px; color: #000; text-decoration: none; border-right: 1px #000 solid; padding-left: 5px; padding-right: 5px; }
#ruta_perfil a:hover{ text-decoration: underline; }
#ruta_perfil a:last-child{ border-right: none; }
#contenido_perfil { float:left; margin-left:3px; width:956px; }

/* ESTILOS PARA DATOS DEL USUARIO EN EL FORMULARIO DE PERFIL */
#datos_usuario { float:left; min-height:131px; margin-left:3px; width:944px; }
#datos_usuario #identidad { width:640px; min-height:131px; float:left; }
#datos_usuario #identidad img { margin:20px; border:#c8c8c8 1px solid; float:left; }
#datos_usuario #identidad h2 { color:#666; font-size:22px; font-family:'Droid Sans'; padding-top:20px; }

/* FICHA DE ESTATUS "SITUACION ACTUAL" */
#datos_usuario #status_perfil { color: #666; font-size:11px; line-height:20px; }
#datos_usuario #status_perfil { background:url("images/fnd_status.gif") no-repeat top; padding:10px 3px 0 20px; width:165px; margin-top:5px; }
#identidad #profesion, #contacto_empresa { font-size: 12px; color: #757575; }
#status_perfil span { text-align:center; display:block; margin-top:10px; }
#datos_usuario .bottom_status { background:url("images/bottom_status.gif") repeat scroll 1px 0; display:block; height:10px; width:188px; }
#datos_usuario #status_wrapper { width:188px; float:left; margin-bottom:10px; }
#datos_usuario #cerrar_sesion { background:url("images/bt_cerrar_sesion.gif") no-repeat; color:#757575; display:block; float:left; font-size:11px; height:18px; padding:4px 0 0 25px; text-decoration:none; width:80px; margin-left:160px; font-size:9px; }

/* PESTAÑAS DE MI ESPACIO - MIS DATOS - MIS OFERTAS DE EMPLEO  */
#contenido_perfil #TabbedPanels1 .TabbedPanelsTabGroup { margin:0 0 0 20px; }
#contenido_perfil #TabbedPanels2 .TabbedPanelsTabGroup { margin:0; }
#contenido_perfil #TabbedPanels1 .aspirante { background:url(images/fnd_tabs2.jpg) no-repeat; }
#contenido_perfil #TabbedPanels1 .empresario{ background:url(images/fnd_tabs3.jpg) no-repeat; }
#contenido_perfil #TabbedPanels1 .TabbedPanelsTabGroup .TabbedPanelsTab { text-align:center; width:190px; }
#contenido_perfil #TabbedPanels1 .TabbedPanelsTabGroup .TabbedPanelsTab { width:190px; }
#contenido_perfil .TabbedPanelsTabSelected.TabbedPanelsTab:first-child { background:url(images/tab_left_hover2.png) no-repeat; }
#contenido_perfil .TabbedPanelsTabSelected.TabbedPanelsTab:last-child { background:url(images/tab_right_hover2.png) no-repeat right top; }
#contenido_perfil .TabbedPanels { background:url("images/fnd_tabs2.png") repeat-x 0 27px; margin-left:15px;}
#contenido_perfil .TabbedPanelsContentGroup{ background:none; }
#contenido_perfil .TabbedPanelsContentGroup .TabbedPanelsContent { padding:32px 0 32px 102px; height:auto; /*margin-left:-11px;*/ }
#cuerpo_int #columna_articulos.perfil { left:700px; background:none; position:relative; top:50px; width:265px; z-index:10; height:0; }
#contenido_perfil .TabbedPanelsContent h2 { font-size: 22px; color: #757575; font-family:'Droid Sans'; margin:25px 0 10px 0; }

/* FICHA DE AVISOS DE CARTAS */
#aviso_carta { display:block; width:280px; min-height:201px; background:url(images/fnd_aviso_carta.jpg) no-repeat; padding:15px; }
#aviso_carta hr{ color:#cbcbcb; }
#aviso_carta #cartas { background:url(images/img_carta.png) no-repeat; padding:0 0 0 110px; min-height:140px; }
#aviso_carta #cartas a, #aviso_carta #cartas{ color:#666; text-decoration:none; font-weight:bold; font-size:11px; }
#aviso_carta #cartas a:hover{ text-decoration:underline; }
#aviso_carta #cartas p{ margin:7px 0; padding:0 0 0 15px; }
#aviso_carta h3 { color: #ee6000; }
#aviso_carta #cartas #aviso { background:url(images/bullet_naranja1.gif) 5px 3px no-repeat; }
#aviso_carta span{ display:block; text-align: center; }
#bottom_carta { background:url("images/bottom_carta.jpg") no-repeat -1px 0; display:block; height:10px; width:308px; }

/* ESTILOS DE MIS HERRAMIENTAS */
#mis_herramientas { display:block; float:left; margin:0 0 0 18px; /*width:335px; */}
#mis_herramientas h3{ color:#666; margin:-5px 0 10px 0px; font-size: 16px; font-weight:bold }
#mis_herramientas a{ font-family:'Droid Sans'; color:#ee6000; font-size:15px; text-decoration:none; font-weight:bold; display:block; float:left; }
#mis_herramientas a:hover{ color:#fff; }
#mis_herramientas #mi_sitio{background:url("images/bts_sitio_profesional.jpg") no-repeat 0 0; height:37px; padding:13px 0 0 10px; text-align:center; width:320px;}
#mis_herramientas #carta_presentacion{background:url("images/bts_entrevista.jpg") no-repeat; float:left; height:57px; padding:15px 0 0 57px; width:105px;}
#mis_herramientas #entrevista{background:url("images/bts_carta.jpg") no-repeat; float:left; height:57px; padding:15px 0 0 57px; width:109px;}
#mis_herramientas #completa_cv{background:url("images/bts_cv.jpg") no-repeat; float:left; height:57px; padding:15px 0 0 57px; width:105px;}
#mis_herramientas #testimonio{background:url("images/bts_compartir.jpg") no-repeat; float:left; height:57px; padding:15px 0 0 57px; width:109px; margin-left:20px;}
#mis_herramientas a:hover#mi_sitio{background:url("images/bts_sitio_profesional_ov.jpg") no-repeat 0 0; height:37px; padding:13px 0 0 10px; text-align:center; width:320px;}
#mis_herramientas a:hover#carta_presentacion{background:url("images/bts_entrevista_ov.jpg") no-repeat; float:left; height:57px; padding:15px 0 0 57px; width:105px;}
#mis_herramientas a:hover#entrevista{background:url("images/bts_carta_ov.jpg") no-repeat; float:left; height:57px; padding:15px 0 0 57px; width:109px;}
#mis_herramientas a:hover#completa_cv{background:url("images/bts_cv_ov.jpg") no-repeat; float:left; height:57px; padding:15px 0 0 57px; width:105px;}
#mis_herramientas a:hover#testimonio{background:url("images/bts_compartir_ov.jpg") no-repeat; float:left; height:57px; padding:15px 0 0 57px; width:109px; margin-left:20px;}

/*
#mis_herramientas #en_cartera{ background:url("images/bts_herramientas.jpg") no-repeat 0 -194px; height:37px; padding:13px 0 0 10px; text-align:center; width:320px; }
#mis_herramientas #mi_sitio{ background:url("images/bts_herramientas.jpg") no-repeat 0 0; height:37px; padding:13px 0 0 10px; text-align:center; width:320px; }
#mis_herramientas #candidatos{ background:url("images/candidatos.gif") no-repeat 0 0; height:37px; padding:13px 0 0 10px; text-align:center; width:320px; }
#mis_herramientas #carta_presentacion{ background:url("images/bts_herramientas.jpg") no-repeat 0 -51px; float:left; height:57px; padding:15px 0 0 57px; width:105px; }
#mis_herramientas #entrevista{ background:url("images/bts_herramientas.jpg") no-repeat -163px -51px; float:left; height:57px; padding:15px 0 0 57px; width:109px; }
#mis_herramientas #completa_cv{ background:url("images/bts_herramientas.jpg") no-repeat 0 -123px; float:left; height:57px; padding:15px 0 0 57px; width:105px; }
#mis_herramientas #testimonio{ background:url("images/bts_herramientas.jpg") no-repeat -163px -123px; float:left; height:57px; padding:15px 0 0 57px; width:109px; }
#mis_herramientas a:hover#en_cartera{ background:url("images/bts_herramientas_hover.jpg") no-repeat 0 -194px; height:37px; padding:13px 0 0 10px; text-align:center; width:320px; }
#mis_herramientas a:hover#mi_sitio{ background:url("images/bts_herramientas_hover.jpg") no-repeat 0 0; height:37px; padding:13px 0 0 10px; text-align:center; width:320px; }
#mis_herramientas a:hover#carta_presentacion{ background:url("images/bts_herramientas_hover.jpg") no-repeat -166px -51px; float:left; height:57px; padding:15px 0 0 57px; width:105px; }
#mis_herramientas a:hover#entrevista{ background:url("images/bts_herramientas_hover.jpg") no-repeat 3px -51px; float:left; height:57px; padding:15px 0 0 57px; width:109px; }
#mis_herramientas a:hover#completa_cv{ background:url("images/bts_herramientas_hover.jpg") no-repeat -166px -123px; float:left; height:57px; padding:15px 0 0 57px; width:105px; }
#mis_herramientas a:hover#testimonio{ background:url("images/bts_herramientas_hover.jpg") no-repeat 3px -123px; float:left; height:57px; padding:15px 0 0 57px; width:109px; }
*/

/* ESTILOS PARA EDITOR DE CARTAS - TAMBIEN SE OCUPAN EN LOS EDITORES DE TEXTO DE LOS FORMULARIOS */
#contenido_perfil .crear_carta { background:url(images/fnd_crear_carta.gif) no-repeat; width:525px; float:left; margin-top:27px;  padding:10px 0 0 10px; }
.crear_carta h3 { font-size: 17px; color: #666; margin:9px 0 0 23px; }
.crear_carta { background:url("images/fnd_crear_carta2.gif") no-repeat; display:block; min-height:117px; width:428px; }
.campo_carta { background:url("images/fnd_crear_carta2.gif") no-repeat; display:block; min-height:117px; width:428px; }
#contenido_perfil .bottom_crear_carta { background: url(images/fnd_crear_carta_bottom.gif) no-repeat; float:left; display: block; height:10px; width:535px; }
#contenido_perfil .bottom_crear_carta2 { background:url("images/fnd_crear_carta_bottom2.gif") no-repeat; display:block; height:15px; width:521px; margin:0 0 0 60px; }
.crear_carta a { display:block; float:left; height:16px; margin:10px 0 0 15px; text-indent:-9000px; width:20px; }
.bold { background:url(images/bt_bold.gif) no-repeat; }
.italica { background:url(images/bt_italica.gif) no-repeat; }
.subrayada { background:url(images/bt_subrayado.gif) no-repeat; }
.numerada { background:url(images/bt_numerdo.gif) no-repeat; }
.no_numerada { background:url(images/bt_no_numerado.gif) no-repeat; }
.maximo_caracteres { background:url(images/brdr_maximo_caracteres.jpg) no-repeat bottom left; color:#696868; display:block; font-size:10px; margin:10px 20px 0 0; text-align:right; height:30px; }
#contenido_perfil .campo_carta{ margin:0 0 0 60px; padding:0 0 0 5px; }
#contenido_perfil .campo_carta .maximo_caracteres{ height:20px; padding:10px 0 0 0; }
#escolaridad .crear_carta p a,#status_actual .crear_carta p a{ color:#FF0000; text-indent:0; width:auto; margin:0; height:auto; padding:0; float:right; text-decoration:none; }
#escolaridad .crear_carta p a:hover{ text-decoration:underline; }
.crear_carta textarea { border:medium none; font-family:arial; font-size:12px; min-height:80px; padding:5px; }
.crear_carta span { display:block; margin-top:10px; text-align:center; }
#avisos h2 { background:url("images/fnd_avisos.png") no-repeat; color:#EE6000; display:block; font-size:18px; margin:10px 0 0 20px; padding:7px 0 3px 40px; width:179px; }
#avisos h2 span { font-size: 11px; font-weight: normal; }
#contenido_perfil #avisos p { background:url("images/bottom_h2_avisos.png") repeat-y; display:block; height:60px; margin:0 0 0 20px; overflow:auto; padding:7px 10px 3px 20px; width:190px; line-height:15px; }
#avisos #paginador_avisos { background:url("images/bottom_paginador_avisos.png") no-repeat; display:block; margin:0 0 10px 20px; padding:3px 0 0 0; font-size:11px; color:#666; height:18px; width:219px; text-align:center; }
#avisos #paginador_avisos a { display:block; width:12px; height:12px; text-indent:-9000px; }
.anterior{ float:left; margin-left:60px; background:url(images/bt_anterior.gif) no-repeat; }
.siguiente{ float:right; margin-right:60px; background:url(images/bt_siguiente.gif) no-repeat; }

/* PREVISUALIZACIÓN DE LA PRESENTACION */
#contenido_perfil #muestra_presentacion { color:#666; display:block; width:360px; float:left; margin: 27px 0 0 33px; }
#muestra_presentacion h4 { font-size: 12px; color: #666; margin:10px 0; }
#muestra_presentacion select, #muestra_presentacion input { margin: 10px 10px 10px 0; }
#muestra_presentacion span { display: block; width:260px; text-align:right; }
.crear_carta h4 { margin:10px 0 0 30px; }
#contenido_perfil .crear_carta .muestras { float:left; margin:20px 0 20px 6px; text-align:center; width:92px; }

/* ESTILOS PARA EL SELECTOR DE TEMPLETES */
#contenido_perfil #agregar_imagen { margin:10px; color:#666; }
#contenido_perfil #agregar_imagen input{ margin:0 10px 0 0; }
#contenido_perfil .pasos_proceso { background:url("images/fnd_proceso.jpg") repeat-x; border-bottom:1px solid #C2C2C2; border-top:1px solid #C2C2C2; height:28px; margin:0 0 0 -21px; }
#mis_datos .pasos_proceso h3 { background:url("images/flecha_proceso.gif") no-repeat right center; color:#E95D1D; float:left; font-size:18px; height:22px; margin-right:10px; padding:3px; width:290px; margin:0; }
#contenido_perfil .pasos_proceso span { color:#666666; display:block; float:left; font-size:11px; height:21px; margin:-3px 5px 0 0; padding:8px 7px 0 0; border-right:solid 1px #DBDBDB; }
#contenido_perfil .pasos_proceso .navegador_proceso a { background:url("images/flecha_proceso.gif") no-repeat right center; color:#8A8A8A; display:block; float:left; font-size:18px; font-weight:bold; height:25px; margin:-5px 5px 0 5px; padding:3px 0 0 5px;  text-decoration:none; width:20px; }
#contenido_perfil .pasos_proceso .navegador_proceso { border-right:medium none; margin-right:0; padding-right:0; }
#contenido_perfil .pasos_proceso .navegador_proceso .siguiente { background:url("images/bt_siguiente2.gif") no-repeat 0 0; border-right:1px solid #C2C2C2; margin-right:0; text-indent:-9000px; width:25px; }
#contenido_perfil .pasos_proceso .navegador_proceso .anterior { background:url("images/bt_anterior2.gif") no-repeat; border-left:1px solid #C2C2C2; border-right:1px solid #C2C2C2; margin-left:232px; margin-right:0; text-indent:-9000px; width:25px; 
}
#contenido_perfil .activa_perfil, #status_actual .activa_perfil, .activa_perfil { background:url(images/activa_perfil.jpg) repeat-x; color:#666666; display:block; height:50px; margin:0 0 0 -22px; padding:0 0 0 20px; border-bottom:1px solid #C2C2C2; }
#mis_datos h3 { float:left; font-size:16px; }
#mis_datos h3 span { width:20px; }
.activa_perfil h3 { margin:15px 0 0 0; }
#contenido_perfil .activa_perfil .activar, .activa_perfil .activar { float:right; width:150px; }
#contenido_perfil a.links, a.links { background:url("images/bullet_naranja1.gif") no-repeat 10px 5px; color:#666666; display:block; float:right; line-height:12px; margin:15px 5px 0; padding:0 0 0 20px; text-decoration:none; font-size:11px; }
#contenido_perfil a:hover.links{ text-decoration:underline; }
#contenido_perfil a.links img, a.links img { border:none; }
.formulario_perfil{ width:680px; font-family:Tahoma,Geneva,sans-serif; }
    

/* ESTILOS PARA PARRAFOS EN VARIAS SECCIONES DEL FORMULARIO -MI ESPACIO- */
.formulario_perfil p,.formulario_perfil a,.formulario_perfil select,#escolaridad p,#escolaridad a,#escolaridad select,#status_actual p, #expectativas_laborales p, #contenido_perfil.empresa #TabbedPanels3.TabbedPanels .TabbedPanelsContent p, #TabbedPanels3.TabbedPanels .TabbedPanelsContent strong { color:#535353; font-size:11px; line-height:25px; text-decoration:none; }
.formulario_perfil a:hover { text-decoration:underline; }
.un_quinto { width:20%; float:left; margin:15px 0 0 0; }
.un_cuarto { width:25%; float:left; margin:15px 0 0 0; }
.un_tercio { width:33%; float:left; margin:15px 0 0 0; }
.dos_tercios { width:66%; float:left; margin:15px 0 0 0; }
.cuatro_quintos { width:75%; float:left; margin:15px 0 0 0; }
.un_medio { width:48%; float:left; }
.un_medio .un_medio { padding-top:16px; width:48%; float:left; }
.entero { width:93%; float:left; margin:15px 0 0 1px; }
#contenido_perfil .formulario_perfil #consulta_curp { background:url(images/bullet_naranja1.gif) 30px 10px no-repeat; margin:40px 0 0; text-align:right; }
#contenido_perfil .formulario_perfil #consulta_curp img { border:none; }

/* ESTILOS PARA EL CAMPO DE NOMBRE */
#contenido_perfil #dato_nombre, #dato_nombre { background:url("images/fnd_dato_nombre.jpg") no-repeat -2px 34px; display:block; float:left; height:80px; padding-left:15px; width:605px; }
#contenido_perfil #dato_nombre input, #dato_nombre input { border:none; height:25px; width:180px; }
#contenido_perfil .formulario_perfil span, .formulario_perfil span { float:left; margin:20px 0 0; text-align:center; width:100%; }
#contenido_perfil .formulario_perfil h3,#contenido_perfil #escolaridad h3, #status_actual h3, #expectativas_laborales h3, .publicados h3, .formulario_perfil h3, #escolaridad h3,
#contenido_perfil.empresa #TabbedPanels3.TabbedPanels .TabbedPanelsContent h3{ background:url("images/activa_perfil.jpg") repeat-x; border-top:1px solid #C2C2C2; display:block; height:40px; margin:20px 0 0 -22px; padding:15px 0 0 22px; width:100%; /*float:left;*/ }
#contenido_perfil .division { background:url(images/division.jpg) no-repeat top left; /*float:left; margin:0 0 0 -22px;*/ padding:0 0 0 22px; width:100%; }
#contenido_perfil #preferencias_contacto input{ margin:0 10px 0 0; }
#mis_datos #calendario_eventos { background:url("images/fnd_calendario_eventos.png") no-repeat; display:block; float:right; margin-top:280px; padding:10px 20px 10px 10px; width:200px; }
.container_calendario { float:left; width:250px; }

/* ESTILOS PARA LOS COMPONENTES DE LOS FORMULARIOS DE MI ESPACIO */
#contenido_perfil .formulario { width:100%; float:left; }
#contenido_perfil .formulario p { color:#535353; line-height:25px; }
#contenido_perfil .formulario h3 { background:url("images/activa_perfil.jpg") repeat-x; border-top:1px solid #C2C2C2; display:block; float:left; height:40px; margin:20px 0 0 -22px; padding:15px 0 0 22px; width:100%;}
#contenido_perfil .formulario h3:first-child { background:none; margin:-22px 0 0 -22px; padding:0 0 0 22px; border-top:none; }
#contenido_perfil .form_container { background:#FFF; float:left; margin:0 0 0 -22px; }
#mis_datos #calendario_eventos #mes { display:block; height:20px; width:100%; padding:0 0 0 15px; }
#mis_datos #calendario_eventos #mes h3 { left:50px; margin:0; position:relative; width:50px; }
#mis_datos #calendario_eventos #mes a { width:50px; float:left; text-indent:-9000px; height:20px; }
#calendario_eventos #mes_siguiente { background:url(images/carrusel_adelante.png) no-repeat right; margin:0 0 0 80px; }
#calendario_eventos #mes_anterior { background:url("images/carrusel_atras.png") no-repeat 0 -12px; margin:0 0 0 -70px; }
#mis_datos #calendario_eventos div { clear:both; display:block; width:100%; }
#mis_datos #calendario_eventos p, #mis_datos #calendario_eventos p a { color:#333333; display:block; float:left; font-size:11px; margin:0 0 0 10px; padding:8px 0 0; text-decoration:none; width:155px; }
#mis_datos #calendario_eventos p a:hover { text-decoration:underline; }
#mis_datos #calendario_eventos span{ color:#EE6000; display:block; float:left; font-size:20px; font-weight:bold; height:20px; padding:15px 0 0; width:25px; }
#mis_datos .bottom_calendario { background:url("images/bottom_calendario.png") no-repeat -1px 0; display:block; float:right; height:10px; width:230px; }
/*#contenido_perfil #mis_ofertas { padding:0; }*/
#mis_ofertas .publicados .contenedor_contenido { width:700px; float:left; }
#contenido_perfil .form_container .TabbedPanels { top:0; }
#contenido_perfil #mis_datos .TabbedPanelsTabSelected .subtitulo { display:block; width:auto; text-indent:0; }
#contenido_perfil #mis_datos .TabbedPanelsTabSelected span{ display:block; height:0; text-indent:-9000px; width:0; }
#contenido_perfil .form_container #TabbedPanels2 .TabbedPanelsTab, #contenido_perfil.empresa #TabbedPanels2 #mis_datos .form_container .TabbedPanelsTab { background:url("images/flecha_proceso.gif") no-repeat scroll right 0; color:#E95D1D; font-size:18px; 	width:auto; border:none; padding:3px 12px 0 0; }
.TabbedPanelsTab .subtitulo { display:block; height:0; text-indent:-9000px; width:0; color:#E95D1D; }

/* ESTILO PARA LAS SUBPESTAÑAS - NAVEGACIÓN DEL FORMULARIO -INFORMACION DE MI PERFIL - ESCOLARIDAD Y OTROS ESTUDIOS -EXPERIENCIA LABORAL - EXPECTATIVAS LABORALES */
#contenido_perfil.empresa #TabbedPanels2 #mis_datos .form_container .TabbedPanelsTabGroup, #contenido_perfil #mis_datos .form_container .TabbedPanelsTabGroup{ background:url("images/fnd_proceso.jpg") repeat-x 0 3px; border-bottom:1px solid #C2C2C2; border-top:1px solid #C2C2C2; border-right:1px solid #C2C2C2; height:30px; margin:0; padding-left:22px; width:680px; }
#mis_datos .form_container .TabbedPanels, #contenido_perfil #mis_datos .form_container .TabbedPanelsContent{ background:#fff; margin:0; padding-top:0; }
#contenido_perfil #mis_datos .form_container h2 { margin:0 0 0 20px; }
#contenido_perfil.empresa #mis_datos .form_container h2 { margin:20px 0 10px 20px; }

/* TABLA DE LA SECCION PUBLICADOS */
/*
.publicados h3 { width:700px; }
.publicados h3.mis_ofertas { margin:-20px 0 0 -22px; width:700px}
#mis_ofertas .publicados{ color:#666666; margin-top: 15px; margin-left: 10px; font-size:11px; float:left; width:700px; }
#mis_ofertas .publicados tr.temas{ background:url(images/tabla_bg_h1.jpg) repeat-x; height: 24px; }
#mis_ofertas .publicados tr.temas th{ background:url(images/tabla_bg_h1_line.jpg) no-repeat top; background-position: right; font-weight: normal; }
#mis_ofertas .publicados tr.temas th:first-child{ background:url(images/tabla_bg_h1_izq.jpg) no-repeat top left; width:206px; }
#mis_ofertas .publicados tr.temas th.fin{ background:url(images/tabla_bg_h1_der.jpg) no-repeat top right; }
#mis_ofertas .publicados tr{ background:#fff; height: 35px; }
#mis_ofertas .publicados tr.detalles { height:10px; }
#mis_ofertas .publicados a.expand a { background:url("images/bullet_naranja1.gif") no-repeat 10px 5px; color:#666666; font-size:11px; margin:0 0 10px; padding:0 0 0 20px; text-decoration:none; }
p.switch { text-align:right; width:680px; }
p.switch a { color:#454545; }
.collapse p { padding:5px 20px; }
#mis_ofertas .publicados a.expand { text-decoration:none; }
#mis_ofertas .publicados tr.odd{ background: url(images/tabla_bg_h1_tr.jpg) repeat-x top left; height: 55px; }
div.seleccion{ float: left; padding: 10px; }
div.activa{ background:url("images/tabla_tr_activa.png") no-repeat 0 0; width: 13px; height:13px; float:left; padding-right: 7px; }
div.inactiva span{ display: none; }
div.inactiva{ background:url("images/tabla_tr_inactiva.png") no-repeat 0 0; width: 13px; height:13px; float:left; padding-right: 7px; }
div.activa span{ display: none; }
div span.inactiva{ background: url("images/tabla_tr_inactiva.png") no-repeat scroll left top transparent; 
padding-right:20px; padding-top:1px; }
div.seleccionth{ float:left; padding-left:30px; }
div.profesion{ padding-top: 10px; }
div.profesion a.links{ left:-8px; position:relative; top:-15px; }
#contenido_perfil.empresa #mis_datos .form_container .TabbedPanelsContent,
#escolaridad, #status_actual, #expectativas_laborales { width:681px; border-right:1px solid #DBDBDB; }
#contenido_perfil #mis_datos #escolaridad a.links, #status_actual a.links, #expectativas_laborales a.links{ float:right; padding-right:50px; }
#contenido_perfil #escolaridad .nivel_de_estudios { margin:0 0 0 -20px; }
#contenido_perfil .detalles_del_puesto, #contenido_perfil .salario { margin:-5px 0 10px -22px; }
*/

/* TABLA DE LA SECCION PUBLICADOS- XTRA! */

#cuerpo_int div#contenido_principal.detalle div#contenido div#mis_ofertas div.contenedor_contenido form div.publicados table{ font-size: 13px; width: 691px;}

/*#cuerpo_int div#contenido_principal.detalle div#contenido div#mis_ofertas div.contenedor_contenido  div#message{ font-size: 12px; margin-left: 10px }*/

#cuerpo_int div#contenido_principal.detalle div#contenido div#mis_ofertas.TabbedPanelsContent div.contenedor_contenido div#message{font-size: 12px; margin-left: 10px}

#cuerpo_int div#contenido_principal.detalle div#contenido div#mis_ofertas div.contenedor_contenido form div.publicados h3.mis_ofertas { margin:-20px 0 0 -22px}
#cuerpo_int div#contenido_principal.detalle div#contenido div#mis_ofertas div.contenedor_contenido form div.publicados{ color:#666666; margin-top: 15px; margin-left: 10px; font-size:11px; }
#cuerpo_int div#contenido_principal.detalle div#contenido div#mis_ofertas div.contenedor_contenido form div.publicados tr.temas{ background:url(tabla_bg_h1.jpg) repeat-x #ebebeb; height: 24px; }
#cuerpo_int div#contenido_principal.detalle div#contenido div#mis_ofertas div.contenedor_contenido form div.publicados tr.temas th{ background:url(tabla_bg_h1_line.jpg) repeat-y top; background-position: right; font-weight: normal; border-bottom: 1px solid #d1d1d1; border-left:1px solid #FFFFFF; }
#cuerpo_int div#contenido_principal.detalle div#contenido div#mis_ofertas div.contenedor_contenido form div.publicados tr.temas th:first-child{ background:url(tabla_bg_h1_izq.jpg) no-repeat top left; border-right: 1px solid #c7c7c7;/*width:206px;*/ }
#cuerpo_int div#contenido_principal.detalle div#contenido div#mis_ofertas div.contenedor_contenido form div.publicados tr.temas th.fin{ background:url(tabla_bg_h1_der.jpg) no-repeat top right; }
#cuerpo_int div#contenido_principal.detalle div#contenido div#mis_ofertas div.contenedor_contenido form div.publicados tr{ background:#fff; height: 55px; }
#cuerpo_int div#contenido_principal.detalle div#contenido div#mis_ofertas div.contenedor_contenido form div.publicados tr.odd{ background: url(tabla_bg_h1_tr.jpg) repeat-x top left; height: 55px; }
div.seleccion{ float: left; padding: 10px; }
div#activa{ background:url("tabla_tr_activa.png") no-repeat 0 0; width: 13px; height:13px; float:left; padding-right: 7px; }
div#inactiva span{ display: none; }
div#inactiva{ background:url("tabla_tr_inactiva.png") no-repeat 0 0; width: 13px; height:13px; float:left; padding-right: 7px; }
div#activa span{ display: none; }
div span.inactiva{ background: url("tabla_tr_inactiva.png") no-repeat scroll left top transparent; 
padding-right:20px; padding-top:1px; }
div.seleccionth{ float:left; padding-left:30px;  }
 div.seleccionth input{ margin-top: 4px}
div.profesion{ padding-top: 10px; }
div.profesion a.links{ left:-8px; position:relative; top:-15px; }
#escolaridad, #status_actual, #expectativas_laborales { width:681px; border-right:1px solid #DBDBDB; }
#contenido_perfil #mis_datos #escolaridad a.links, #status_actual a.links, #expectativas_laborales a.links{ float:right; padding-right:50px; }
#contenido_perfil #escolaridad .nivel_de_estudios { margin:0 0 0 -20px; }
#contenido_perfil .detalles_del_puesto, #contenido_perfil .salario { margin:-5px 0 10px -22px; }


/* FICHA MODIFICAR PERFIL */
#aviso_carta #modificar_perfil { padding:0 0 0 0; min-height:140px; }
#aviso_carta #image_wrapper { width:100px; float:left; text-align:center; }
#aviso_carta #modificar_perfil #image_wrapper a{ font-weight:normal; }
#aviso_carta #modificar_perfil img { float:left; padding:3px; background:#fff; border:1px solid #666666}
#aviso_carta #modificar_perfil a{ color:#666; text-decoration:none; font-weight:bold; font-size:11px}
#aviso_carta #modificar_perfil a:hover{ text-decoration:underline; }
#aviso_carta #modificar_perfil p{ display:block; float:left; margin:7px 0 7px 2px; padding:0 0 5px 15px; width:160px; border-bottom:1px inset #999999; }
#aviso_carta #modificar_perfil .aviso { background:url(images/bullet_naranja1.gif) 5px 3px no-repeat; }

/* MI PORTAFOLIOS */
#mi_portafolios { border-left:1px solid #CCCCCC; border-right:1px solid #CCCCCC; margin:0 0 0 1px; padding:0 0 15px 0; width:304px; background:url("images/fnd_mi_portafolios.jpg") no-repeat 0 60px transparent; 
}
#mi_portafolios h3 { margin:0 0 0 20px; padding:20px 0 0 0; }
#mi_portafolios p,#ofertas_recomendadas p { display:block; float:left; margin:7px 0 7px 120px; padding:0 0 5px 15px; width:160px; border-bottom:1px inset #999999; }
.bottom_ofertas a { background:url("images/bullet_blanco1.png") no-repeat 10px 5px; color:#fff;display:block; float:right; font-size:11px; line-height:12px; padding:0 0 0 20px; text-decoration:none; margin:3px 15px 0 0;}
#mi_portafolios img { float:left; padding:3px; background:#fff; border:1px solid #666666; }
#mi_portafolios a,#ofertas_recomendadas a{ color:#666; text-decoration:none; font-weight:bold; font-size:11px}
#mi_portafolios a:hover,#ofertas_recomendadas a:hover{ text-decoration:underline; }
#mi_portafolios .aviso { background:url(images/bullet_naranja1.gif) 5px 3px no-repeat; }
.bottom_portafolios { background:url("images/bottom_portafolios.gif") no-repeat -1px bottom transparent; display:block; float:left; height:29px; width:308px; }
#acciones_portafolios span { margin:20px 0 0; text-align:center; width:100%; display:block; }
#ofertas_recomendadas { display:block; float:left; margin:30px 0 0 35px; width:320px; border:1px solid #ccc; border-bottom:none; }
#ofertas_recomendadas h3 { padding:10px 0 15px 10px; font-size:16px; font-weight:bold; }
#ofertas_recomendadas p { border:none; margin:0; padding:12px 0 12px 35px; width:286px; }
#ofertas_recomendadas .marcado { background:url(images/bullet_naranja1.gif) 15px 15px no-repeat #e3e3e3; }
#ofertas_recomendadas .simple { background:url(images/bullet_naranja1.gif) 15px 15px no-repeat #fff; }
.bottom_ofertas { background:url("images/bottom_ofertas.png") no-repeat; display:block; float:left; height:20px; margin:0 0 0 35px; width:322px; }



/*CALENDARIO DE EVENTOS*/
.calendario_eventos { background:url("images/fnd_calendario_eventos.png") no-repeat; display:block; float:right; padding:10px 20px 10px 10px; width:200px; }
.container_calendario { width:250px; margin:20px 1px 0 0; }
.publicados .container_calendario { float:right; margin:270px 13px 0 0; width:235px; }
.calendario_eventos .mes h3 { float:left; margin:0; text-align:center; width:120px; }
.publicados .calendario_eventos .mes h3 { background:none; width:120px; border:none; margin:0; float:left; text-align:center; padding:0; }
.calendario_eventos .mes a { display:block; height:20px; text-indent:-9000px; width:30px; }
.calendario_eventos .mes_siguiente { background:url(images/carrusel_adelante.png) no-repeat right; float:right; }
.calendario_eventos .mes_anterior { background:url(images/carrusel_atras.png) no-repeat scroll 0 -12px transparent; float:left; }
.calendario_eventos div { clear:both; display:block; width:100%; }
.calendario_eventos p, .calendario_eventos p a { color:#333333; display:block; float:left; font-size:11px; margin:0 0 0 10px; padding:8px 0 0; text-decoration:none; width:155px; }
.calendario_eventos p a:hover { text-decoration:underline; }
.calendario_eventos span{ color:#EE6000; display:block; float:left; font-size:20px; font-weight:bold; height:20px; padding:15px 0 0; width:25px; }
.bottom_calendario { background:url("images/bottom_calendario.png") no-repeat -1px 0; display:block; float:right; height:10px; width:230px; }

/* REGISTRO DE SOLICITANTES */
#form_registroSolicitante { padding:0 0 50px 22px; }
#form_registroSolicitante p{ font-family:Tahoma,Geneva,sans-serif; font-size:11px; color:#535353; }
#form_registroSolicitante h3 { margin: 22px 0 0 0; }


#form_registroSolicitante .activa_perfil { width:680px; float:left; margin: 30px 0 0 -22px; }
#form_registroSolicitante .activa_perfil h3 { float:left; }
#form_registroSolicitante .activa_perfil .activar { font-size:11px; text-align:center; }
#form_registroSolicitante .activa_perfil .links { margin:8px 0 0 0; }
#form_registroSolicitante .activa_perfil div { display:block; float:right; padding:5px 30px 0 0; width:200px; }

/* ESPACIO CANDIDATO */
.candidato { width:690px; float:left; }
.nav_mis_ofertas { display:block; height:30px; width:720px; background:url(images/fnd_base_nav.jpg) no-repeat 0 bottom; padding:0 0 0 20px; }
.nav_mis_ofertas li { background:url(images/bt_nav_misOfertas.gif) no-repeat; display:inline-block; height:28px; text-decoration:none;
}
.nav_mis_ofertas li a { background:url("images/bt_nav_misOfertasb.png") no-repeat scroll right 0; display:inline-block; height:20px; padding:8px 7px 0;; text-decoration:none; color:#454545; font-family:Tahoma,Geneva,sans-serif;}
.oferta_creada { background:url("images/fnd_oferta.gif") no-repeat 0 0 transparent; width:668px; margin:0 0 20px; }
.oferta_creada .criterios { width:600px; float:left; }
.oferta_creada h3 { display:inline-block; font-size:14px; height:22px; padding:10px 0 0 10px; }
.oferta_creada a { color:#454545; display:inline-block; font-family:Tahoma,Geneva,sans-serif; font-size:11px; padding:10px 15px 0; text-decoration:none; }
.oferta_creada a.resaltado { color:#EE6000 }
.oferta_creada a:hover { text-decoration:underline; }
.oferta_creada a.lupa { background:url("images/lupa.gif") no-repeat; display:inline-block; float:right; height:20px; margin:3px 10px 0; padding:0; text-indent:-9000px; width:25px; }
#contenido_perfil.empresa #TabbedPanels2.TabbedPanels .TabbedPanelsContent { margin-top:0; padding-top:0; }

#contenido_perfil.empresa #TabbedPanels2.TabbedPanels ul.TabbedPanelsTabGroup li.TabbedPanelsTab { background:url("images/bt_nav_misOfertas.gif") no-repeat; display:inline-block; height:28px; text-decoration:none; width:auto; padding:0; border:none; }
#contenido_perfil.empresa #TabbedPanels2.TabbedPanels ul.TabbedPanelsTabGroup li.TabbedPanelsTabSelected.TabbedPanelsTab { background:url(images/bt_misOfertasSelect.gif) no-repeat; }
#contenido_perfil.empresa #TabbedPanels2.TabbedPanels ul.TabbedPanelsTabGroup li.TabbedPanelsTabSelected.TabbedPanelsTab a { color:#fff; }
#contenido_perfil.empresa #TabbedPanels2.TabbedPanels { background:none; margin:0 0 0 -22px; }

#contenido_perfil.empresa #TabbedPanels2.TabbedPanels ul.TabbedPanelsTabGroup {     background:url("images/fnd_base_nav.jpg") no-repeat left bottom transparent; display:block; height:31px; padding:0 0 0 20px; }
#contenido_perfil.empresa #TabbedPanels2.TabbedPanels li.TabbedPanelsTab a {  background:url("images/bt_nav_misOfertasb.png") no-repeat scroll right 0 transparent; color:#454545; display:inline-block; font-family:Tahoma,Geneva,sans-serif; height:20px; padding:8px 7px 0; text-decoration:none; font-size:12px; font-weight:normal; }

/* TABLA CANDIDDATO */
#contenido_perfil.empresa #TabbedPanels2.TabbedPanels .temas input,#contenido_perfil.empresa #TabbedPanels2.TabbedPanels .checar input { margin: 0 10px; }
#contenido_perfil.empresa #TabbedPanels2 table { margin:0; width:668px; }
#contenido_perfil.empresa #TabbedPanels2.TabbedPanels td { padding:5px; }
#contenido_perfil.empresa #TabbedPanels2.TabbedPanels td:first-child { width:170px; display:inline-block; }
.temas td:first-child { background:url("images/tabla_bg_h1_izq.jpg") no-repeat scroll left top transparent; }
.temas td.fin { background:url("images/tabla_bg_h1_der.jpg") no-repeat scroll right top transparent; }
#contenido_perfil.empresa #TabbedPanels2.TabbedPanels td:last-child { border:none; }
#contenido_perfil.empresa #TabbedPanels2.TabbedPanels td div {display:inline-block; }
#contenido_perfil.empresa #TabbedPanels2.TabbedPanels .candidato h2 { color:#F47513; }
p.paginador {  margin:0 0 40px; clear:both; }
p.paginador a { text-decoration:none; font-weight:bold; padding:0 5px; color:#454545; }
p.paginador a:hover { text-decoration:underline; }

/* BUSCADOR DE CANDIDATOS */
#buscador_candidatos { background:url("images/fnd_buscadorCandidatos.jpg") no-repeat; height:152px; width:670px; float:left; }
#buscador_candidatos form { background:url("images/fnd_campo_buscador.png") no-repeat; display:block; height:36px; margin:45px 0 0 65px; padding:2px 0 0 10px; width:520px; }
#buscador_candidatos strong { font-family:'Droid Sans',Geneva, Arial, Helvetica, sans-serif; color:#666; font-size:18px; margin:17px 0 0 70px; float:left; }
#buscador_candidatos input { border:medium none; color:#4F4F4F; font-family:'Droid Sans'; font-size:15px; font-weight:bold; height:28px; width:420px; }
form #bt_buscador_c { background:url("images/bt_buscarCandidato.gif") no-repeat; font-size:12px; height:30px; margin:3px 0 5px 10px; text-indent:-9000px; width:70px; }
#buscador_candidatos .ejemplo { color:#454545; float:left; font-size:11px; margin:5px 0 0 70px; width:390px; }



/* AGREGADO POR ULTRASYS RGEIRINGER BOTON TAB ESPACIO CANDIDATOS*/
.boton_tab     {  background:transparent; padding-right: 0px; padding-left: 0px;  height:32px;  border:medium none; color:#454545; font-weight: bold}
.boton_tab_sel {  background:transparent; padding-right: 0px; padding-left: 0px;  height:32px;  border:medium none; color:#F47513; font-weight: bold; disabled:disabled;}
.boton_tab_disabled {  background:transparent; padding-right: 0px; padding-left: 0tpx;  height:32px;  border:medium none; color:#cccccc; font-weight: bold; disabled:disabled;}
.boton_tab:hover {color:#F47513 }
.boton_separador {  background:transparent  url("images/tab_separador.png")  no-repeat top left; height:32px; width:17;  border:medium none;}
.boton_divisor {  background:transparent  url("images/tab_divisor.png")  no-repeat top left; height:32px;  width:1;  border: none;}
.boton_divisor_fin {  background:transparent  url("images/tab_divisor.png")  no-repeat top right; height:32px; width:1;  border: none; float: right}
.div_tab { margin:0 0 0 0; background:transparent  url("images/tab_background.png")  repeat-x top left; height:32px; width:680px; float: left; position:relative;  top:0; left:0;}
.div_tab_nav { margin:0 0 0 0; background:transparent  height:32px; width:61px;  position:absolute;  top:0; right:0;}
