*{ padding:0px; margin:0px; }
img {border:0}
a {text-decoration:none;}
html{ background:url("fnd_html.jpg") repeat-x bottom; }
body{ font-family:Tahoma, Geneva, sans-serif; background:url("fnd_body.jpg") no-repeat bottom; margin:0; padding:0 0 1px 0; }
li{ list-style-type:none; }
.cabecera { display:none; }


#herramientas{ background:#f47513; height:51px; }
#herramientas ul li { color: #FFF; float:left; font-size:11px; border-left: solid 1px #FFF; }
#herramientas ul li a{ color: #FFF; text-decoration: none; padding-left: 4px; margin-right: 2px; }
#herramientas li:first-child{ border-left:none; }
#herramientas ul li a:hover{ text-decoration:underline; }
#herramientas img { float:left; }

#contenido_principal{ width:653px; float:left; background: url("sombra_contenido.png") repeat-x #fff; margin-left:3px; }
#columna_articulos{ width:293px; float:left; }
	


#p1, #p1 a, #p2, #p2 a, #p3, #p3 a, #bar #bar_contenedor #n_ayuda a, #bar #bar_contenedor #mi_espacio a{ color: #fff; font: 11px/1 Tahoma, Geneva, sans-serif; text-decoration:none; display:block; float:left; padding:2px; }
#bar #bar_contenedor #letra_chica a{ font-size:8px; color:#fff; text-decoration:none; display:block; width:8px; height:20px; float:left; background:url("bar_arrow.gif") no-repeat; padding:4px 2px 0 25px; }
#bar #bar_contenedor #letra_normal a{ font-size:11px; color:#fff; text-decoration:none; display:block; width:8px; height:20px; float:left; padding:2px 2px 0 0px; }
#bar #bar_contenedor #letra_grande a{ font-size:16px; color:#fff; text-decoration:none; display:block; width:8px; height:20px; float:left; background:url("bar_arrow.gif") no-repeat 8px 0; padding:0px 20px 0 2px; }
#bar_contenedor #imprimir a{ display:block; width:28px; height:20px; float:left; text-indent:-9000px; background:url("bt_imprimir.gif") no-repeat 5px 0; }
#bar_contenedor #send_mail a { display:block; width:28px; height:20px; float:left; text-indent:-9000px; background:url("bt_mail.gif") no-repeat 5px 0; }

#bar #bar_contenedor #mi_espacio a{ background:url("fnd_mi_espacio.gif") no-repeat; display:block; float:left; height:20px; padding:4px 0 0 30px; width:118px; }
#bar #bar_contenedor #n_ayuda a { background:none repeat scroll 0 0 #F47513;border-left:1px solid #FFFFFF;border-right:1px solid #FFFFFF;display:block;float:left;height:20px;padding:4px 0 0 3px;width:92px; }
#bar_contenedor #que_buscas { background:#dcdcdc; display:block; float:right; border-top:1px solid #454545; border-bottom:1px solid #454545; }
#bar_contenedor #comentario a { display:block; width:60px; height:20px; float:left; text-indent:-9000px; background:url("bt_comentario.gif") no-repeat 30px 0; }
#bar_contenedor input#que_buscas{ border:0; }
#bar_contenedor #que_buscas #bt_buscar { background:url("bt_buscar.gif") no-repeat; border:none; width:25px; text-indent:-9000px; }
#que_buscas #que_buscas_field{ border:0; background:#DCDCDC; width:158px; }
#bar #bar_contenedor { margin:auto; padding:0 6px 0 0; width:955px; }

#wrapper{ width:962px; margin:auto; }
#herramientas ul { display:block; float:right; margin-right:30px; margin-top:15px; }
#wrapper h1 { background-image: url("logo_portal_del_empleo.gif"); display: block; height: 95px; width: 651px; text-indent:-9000px; float: left }
#header{ height:95px; }
#perfil_usuario_2012 {background: url("bg_corteRegistro.jpg") no-repeat; float: left; height: 87px; padding: 8px 0 0; width: 305px;}
#perfil_usuario_2012 p {text-align: center; font-family: Tahoma, 'Droid Sans',Geneva,Arial,Helvetica,sans-serif; color: #1d2a2a; margin: 0 0 4px; font-size: 14px;}
#perfil_usuario_2012 p em {font-style: normal; font-weight: bold;}
#perfil_usuario_2012 a {color:#E95D1D; text-decoration: underline; font-weight: bold;}
#perfil_usuario_2012 .candidato, #perfil_usuario_2012 .empresa {display: block; float: left; font-family: 'Myriad Pro', Geneva, Tahoma, Arial, Helvetica, sans-serif; font-size: 17px; height: 24px; padding: 3px 0 0; width: 107px; line-height:16px; text-decoration: none;}
.candidato {margin: 5px 0 0 42px; background: url("bt_candidato.png") no-repeat; text-indent: -9000px;}
.empresa {margin: 5px 0 0 16px; background: url("bt_empresa.png") no-repeat; text-indent: -9000px;}
.candidato:hover {background: url("bt_candidato_ov.png") no-repeat;}
.empresa:hover {background: url("bt_empresa_ov.png") no-repeat;}
#perfil_usuario { position:relative; width:277px; height:105px; z-index:1; left: 726px; top: -115px; background:url("espacio_perfil.png") no-repeat; padding-top:10px}

#perfil_usuario #espacio_candidato { height: 50px; width: 100%; display:block; text-indent:-90000px; }
#perfil_usuario #espacio_empresa { height: 54px; width: 100%; display:block; text-indent:-90000px; }
#espacio_buscador { background:url("fnd_buscadorr.jpg") no-repeat; display:block; width:100%; height:125px; }
#espacio_buscador #buscador { display: block; width: 851px; height:125px; float:left; position: relative; }
#espacio_buscador #ayuda_buscador a{ background:url("ayuda_buscador.png") no-repeat right; text-indent:-9000px; display: block; height: 125px; width: 111px; float:left; }
/* Nav principal top*/
#navegacion { width:956px; height:32px; float:left; background:url("fnd_nav.jpg") repeat-x; margin-left:3px; text-align:center; }
#navegacion ul { margin:0 0 0 50px; }
#navegacion ul li { display: block; height:31px; margin-bottom:10px; float:left; }
#navegacion ul li a{ background:url("nav_li_a.jpg") no-repeat; display: block; float: left; height:31px; font-size:12px; text-decoration:none; color:#fff; text-align:center; padding:7px 12px 0 15px; }
#navegacion .swb-menumap-cur { background:#CCCCCC; font-size:12px; height:23px; padding:7px 12px 0 15px; text-align:center; text-decoration:none; }
#navegacion ul li a:hover, #navegacion ul li:first-child a:hover{ background:url("nav_li_a_hover.jpg") no-repeat; }
#navegacion ul li:first-child a{ background:url("nav_li_a.jpg") no-repeat -10px 0; }

/* Nav principal bottom*/
#navegacion_bottom { width:956px; height:34px; float:left; margin-left:55px;}
#navegacion_bottom ul li {display: block; float: left; margin-bottom:10px; border-left: solid 1px #FFF; margin-top: 10px;}
#navegacion_bottom ul li a{ display: block; float: left; font-size:12px; text-decoration:underline; color:#fff; text-align:center; padding:0px 5px 0 5px; font-weight: bold;}
#navegacion_bottom  li:first-child{ border-left:none;}
#navegacion_bottom .swb-menumap-cur { font-size:12px; padding:0px 5px 0 5px; text-align:center;
	text-decoration: none; color:#fff;}
#navegacion_bottom ul li a:hover, #navegacion_bottom li:first-child a:hover{text-decoration: none;}



#cuerpo { background: url("fnd_cuerpo6.png") repeat-y; float:left; }
/*#espacio_buscador #buscador form { background:url("fnd_campo_buscador.png") no-repeat; display: block; width: 520px; height:35px; margin:35px 0 0 150px; padding:3px 0 0 10px}*/
#buscador form input { border:1px solid #fff; height:28px; width:370px; font-size:20px; color:#4f4f4f; font-family:'Droid Sans'}
#buscador form #bt_buscador { border:none; width:78px; height:35px; font-size:12px; background:url("bt_ocupate.png") no-repeat; text-indent:-9000px; }
#buscador p { font-size: 11px; }
#buscador .ejemplo { margin:8px 0 0 160px; width:390px; float:left; }
#buscador #bt_b_avanzada a{ color: #FFF; text-decoration:none; }
#buscador #bt_b_avanzada { width:150px; float:left; margin: 8px 0 0 0; }
#buscador #bt_b_avanzada a img { border:none; }
#contenido_principal #login { padding: 0 15px; width: 650px; margin: 15px 0 0 0; font-size:12px; font-weight:bold; }
#contenido_principal #login input { margin-right: 5px; color: #747474; }
#login #Nombre_usuario { border:none; background:url("fnd_login_user.gif") no-repeat; width:180px; height:20px; padding-left:8px; }
#login #password { border:none; background:url("fnd_login_password.gif") no-repeat; width:119px; height:20px; padding-left:8px; }
#login a.bt_mi_carpeta { background:url("bt_mi_carpeta.gif") no-repeat; color:#FFFFFF; height:19px; padding:2px 8px 4px 5px; text-decoration:none; width:89px; position:relative; top:-1px; float: left; }
#contenido_principal #ofertas { width: 609px; margin-top: 33px; margin-left: 25px; }
#contenido_principal #ofertas h2 { background:url("portafolios.png") no-repeat right center; color:#E95D1D; font-family:'Droid Sans'; font-size:24px; height:61px; margin-bottom:9px; position:relative; top:21px; }
#ofertas .ofertas_recientes, #ofertas .ofertas_destacadas { background: url("bt_ofertas_recientes.jpg") no-repeat; width:305px; display:block; height:20px; float:left; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#fff; text-align:center; font-weight:bold; text-decoration:none; padding-top:7px; }
#ofertas .ofertas_recientes:hover, #ofertas .ofertas_destacadas:hover{ text-decoration:underline; }
#ofertas .ofertas_destacadas { background:url("bt_ofertas_destacadas.jpg") no-repeat right; width:304px; color:#505050; }
#ofertas table tbody .odd { background-color: #f5f4f3; }
#contenido_principal #ofertas table { border: 1px solid #c0c0c0; border-top:none; border-bottom:none; clear:both; width:100%; font-size:12px; }
#contenido_principal #ofertas table th, #contenido_principal #ofertas table td{ height:35px; border-right:1px solid #c0c0c0; text-align:left; padding-left:15px; }
#contenido_principal #ofertas table th a{ text-decoration:none; color:#000; }
#contenido_principal #ofertas table th a:hover{ text-decoration:underline; }
#contenido_principal #ofertas table th:last-child, #contenido_principal #ofertas table td:last-child{ border:none; }
#contenido_principal #ofertas .borde_inferior { background: url("borde_inferior.gif") no-repeat bottom; height: 20px; margin-bottom:10px; }
#ofertas #bt_ofertas_mail { font-size: 12px; background:url("fnd_recibe_ofertas.gif") no-repeat; height:18px; margin-bottom:20px; }
#ofertas #bt_ofertas_mail .recibe_ofertas { font-weight: bold; color: #FFF; margin:5px 275px 0 5px; }
#ofertas #bt_ofertas_mail a{ color:#5a5552; text-decoration:none; margin-left:10px; }
#ofertas #bt_ofertas_mail a img { border:none; }
#contenido_principal #perfiles { border-top: 1px solid #c0c0c0; padding:28px 23px 10px 23px; }

#contenido_principal #asesoria {
	padding:15px 0 23px;
	display:block;
	width:327px;
	height:225px;
	float:left;
	background-image: url(fnd_asesoria.jpg);
	background-repeat: repeat-x;
}
div#caja{ height:240px; overflow:hidden; padding:10px 0 0 20px; }
div#caja ul{ list-style: none; height:190px; }
#asesoria #caja .contenido_caja li{ font-size:12px; display:list-item; width:95%; background:none; color:#505050; text-align:left; margin:10px 0 0 0; padding:0 0 0 10px; background:url("bullet_naranja1.gif") no-repeat 0 3px; }
#asesoria #caja .contenido_caja a{ text-decoration:none; color:#484848; }
#asesoria #caja .contenido_caja a:hover{ text-decoration:underline; }
#caja ul.nav_caja { float:left; height:10px; }
#caja .servicio_nacional_de_empleo_ {background-image: url("fnd_C1.jpg"); background-repeat: no-repeat; background-position: 165px 118px;
}
#caja .solicitantes { background:url("fnd_C2.jpg"); background-repeat: no-repeat; background-position: 165px 118px; }
#caja .busco_capacitacion { background:url("fnd_C3.jpg"); background-repeat: no-repeat; background-position: 165px 118px; }
#caja .estudiantes { background:url("fnd_C4.jpg"); background-repeat: no-repeat; background-position: 165px 118px; }
#caja .busco_asesoria_laboral { background:url("fnd_C5.jpg"); background-repeat: no-repeat; background-position: 165px 118px; }
#caja .investigadores_del_mercado_laboral { background:url("fnd_C6.jpg"); background-repeat: no-repeat; background-position: 165px 118px; }
#caja .nav_caja li a{ padding:0; margin:0; background:url("bullet_nav_asesoria.gif") 0 4px no-repeat; text-indent:-9000px; width: 9px; display:block; }
#caja .nav_caja li.seleccionado { background:url("bullet_nav_boxSelect.gif") no-repeat; display:block; text-indent:-9000px; width:16px;}
div#caja li{ display: inline-block; margin-left: 2px; float:left; }
#caja a.ver_mas_1 { float: right; background:url("fnd_ver_mas1.png") no-repeat; color:#fff; text-decoration:none; font-size:10px; display:block; height:15px; width:43px;  padding-left:10px; margin:9px 0 0 0; }

/*ESTILOS TESTIMONIOS*/
#contenido_principal #testimonios {  background: url("fnd_testimonios.jpg") no-repeat scroll right center transparent; border-color: #CCCCCC; border-left: 1px solid #CCCCCC; border-style: solid; border-width: 1px; display: block; float: left; height: 225px; margin-bottom: 20px; margin-top: 14px; padding: 10px 0 10px 20px; width: 281px; }
#testimonios p { font-size:12px; margin-top: -145px; word-wrap: break-word; color: #484848;}
#testimonios p span strong { display: block; margin-top: 5px;}
#caja h3, #testimonios h3 { color: #e95d1d; font-size:20px; font-family:'Droid Sans'; }
#testimonios h3{ margin-bottom:155px}
#testimonios #compartir_testimonio { float: right; background:url("fnd_ver_mas1.png") no-repeat; color:#fff; text-decoration:none; font-size:10px; display:block; height:15px; width:110px;  padding-left:10px; }
#testimonios #texto_testimonio { height:44px; }
/**/

#contenido_principal #siguenos { background:url("fnd_siguenos.gif") no-repeat; clear:both; height:33px; margin-top:20px; }
#siguenos h4 { display:block; width:100px; text-indent:-9000px; float:left; margin-right:400px; }
#siguenos .twitter a, #siguenos .rss a{ display:block; width:50px; height:20px; background:url("logo_twitter.gif") no-repeat 0 5px; padding:10px 0 0 25px; height:30px; text-decoration:none; font-size:11px; color:#5a5552; float:left; }
#siguenos .rss a{ background:url("logo_rss.gif") no-repeat 0 5px; }
#contenido_principal #encuesta { font-size:14px; margin:20px; }
#contenido_principal #encuesta input { margin:0 5px 0 15px; padding:5px; }
#contenido_principal #encuesta  label { font-size:12px; }
.boton{ margin:0 10px 0 0; background: url("link_a.gif") repeat-x 0 center; border:#ee6000 solid 1px; color:#fff; padding:3px; }
.boton:hover {background: url("link_hover.jpg") repeat-x 0 center;}
input[type="submit"], input[type="button"], input[type="reset"] { -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; cursor:pointer; display:inline; }
#contenido_principal #encuesta p{ margin-top:10px; color: #484848; }

/* RESULTADO ENCUESTA */

#contenido_principal .swb-res-percent-si-h { background:#f15d07; height: 20px; }
#contenido_principal .swb-res-options-h { color:#626262; padding:0 10px 0 0; width:170px; text-align: right; }
#contenido_principal .swb-poll-res { background:url("activa_perfil.jpg") repeat-x scroll 0 0 transparent; border:none; padding: 0 40px; }
#contenido_principal .swb-res-percent-no-h { border:1px solid #454545; width:300px; text-align:left; height: 20px; }
#contenido_principal .swv-res-votes-h { color:#454545; width:310px; text-align: center; } 
#contenido_principal .swv-res-votes-h span:first-child { font-family:'Droid Sans'; font-weight:bold; font-size:130%; }
#contenido_principal .swb-poll-res-title { color:#E95D1D; float:left; font-family:'Droid Sans'; font-size:20px; margin:20px 0; width:100%; text-align: center; }
#contenido_principal .swb-poll-res table { clear:both;  }
#contenido_principal .swb-poll-res caption { color:#454545; }
#contenido_principal .swb-poll-res tfoot { font-family:'Droid Sans'; color:#454545; }
#contenido_principal .swb-poll-res tfoot td { padding:0 33px 0 0; padding: 20px 0 0; }
#contenido_principal .swb-poll-close a { background:url("cerrar_encuesta.png") no-repeat 50% 0; color:#454545; display:block; height:30px; margin:auto; padding:20px 0 0; width:80px; font-size: 12px; }


#wrapper #banners_publicitarios { width:100%; height:350px; clear:both; display:block; padding-top:10px; background:url("body_bottom.png") no-repeat; }

#wrapper #banners_publicitarios a{ margin:10px 51px; }
#wrapper #banners_publicitarios img{ border:none; }
#wrapper #footer { font-size:12px; text-align:center; margin-bottom:30px; display:block; }
#wrapper #footer p { margin-top:10px; color:#fff; }
#wrapper #footer p a{ color:#fff; border-left: solid 1px #FFF; padding:0px 4px 0 4px; text-decoration:underline;}
#wrapper #footer a:first-child{ border-left:none;}
#wrapper #footer a:hover {text-decoration: none;}

#wrapper #footer span { display:block; width:10px; height:10px; text-indent:-9000px; }
#columna_articulos h4{ font-weight: bold; color: #4a4a4a; margin-bottom: 5px; border: none; margin-top: 20px; }
#columna_articulos p{ font-size:11px; color: #454545; }
#columna_articulos p a{ color: #454545; text-decoration: none; }
#columna_articulos p a:hover{ color: #454545; text-decoration: underline; }
.datos a:first-child{ border-right: 2px solid #f54c01; padding-right: 8px; margin-right: 8px; }

/* Espacio entérate*/
#video{ margin-top: 20px; width:275px; }
#video object { width:275px; background-color: #fff !important; }

/* Espacio carrusel de fotos*/
#carrusel{ background:none repeat #E3E3E3; border:1px solid #C2C2C2; padding-left:4px; padding-top:5px; width:279px; border-bottom:none; }
#carrusel .carrusel_transparent { width: 275px; height: 183px; position: relative; /*background-image: url("transp_area.png");*/ background-repeat: repeat; top:0; z-index: 2; }
#carrusel .carrusel_transparent p{     color:#CFCFCF;
    margin:auto;
    padding-top:125px;
    text-align:center;
    width:170px; }
#carrusel .carrusel_transparent  p+p{ padding-top: 0px; }
#carrusel .carrusel_fotos {width: 275px; height: 183px; position: relative; z-index: 1; padding-top: -183px; background-repeat: no-repeat; margin-top: -183px;}
#carrusel .carrusel_transparent .noticia {background-image: url("transp_area.png"); }
#carrusel .carrusel_transparent .noticia a{ color:#FFF; font-weight: bold; }
#carrusel h5{ font-size: 11px; padding-top: 6px; padding-left: 5px; }
#carrusel p{ padding-left: 55px; padding-right: 50px; }
.atras a{ background: url("carrusel_atras.png") no-repeat; display:block; float:left; height:44px; text-indent:-9000px; width:14px; }
.adelante a{ background:url("carrusel_adelante.png") no-repeat; display:block; float:left; height:44px; margin:0 0 0 20px; text-indent:-9000px; width:14px; }
#carrusel .num { float:left; margin:15px 0 0 20px; width: 102px;}
#carrusel .num a{ background:url("num_circ.png") no-repeat center; color:#FFF; border: none; font-weight: normal; font-size: 12px; font-weight: bold; padding: 5px; }
#carrusel .num a:hover{ background:url("num_circ_ov.png") no-repeat center; width: 18px; height: 18px; }
#columna_articulos #noticias .borde_carrusel { display:block; height:20px; width:285px; background: url("borde_carrusel.gif") no-repeat; }


/* Espacio Tips y Foros*/
div.tips { background:url("tips_img.png") no-repeat top left; height:60px; padding-top: 13px; padding-left: 50px; margin-bottom:-20px; }
div.tips span{ color:#eb5b19; font-weight: bold; font-size: 18px; }
div.tips a{ text-decoration: none; font-size: 13px; color: #454545; font-weight: bold; }
div.tips a:hover{ text-decoration:underline; }
div.foro { background:url("foro_img.png") no-repeat; height:52px; padding-top: 13px; padding-left: 50px; }
div.foro span{ color:#eb5b19; font-weight: bold; font-size: 18px; }
div.foro a{ text-decoration: none; font-size: 13px; color: #454545; font-weight: bold; }
div.foro a:hover{ text-decoration:underline; }

/* COLUMNA DERECHA*/
#columna_articulos{ padding:20px 0 0 10px; background:url("sombra_contenido.png") repeat-x #eee; }


#bar{background:#454545; height:20px; position:fixed; bottom:0px; display:block; width:100%; padding-left:3px;z-index:1000;}
#notas_destacadas tr.odd{background:#e3e3e3;}
#notas_destacadas tr td{padding:10px 0 0 10px; }
#notas_destacadas {font-size:11px; width:281px; border:1px solid #c1c1c1; }
#notas_destacadas p {margin:0 3px 0 0; }
#destacados a#noticias_anteriores {background:url("bottom_notas_destacadas.jpg") no-repeat; display:block; width:275px; height:15px; color:#fff; text-decoration:none; font-size:10px; text-align:right; padding-right:10px;}
#perfiles .ir_a_seccion {background: url("fnd_ir_a_seccion.gif") no-repeat; display:block; width:77px; height:15px; text-decoration:none; color:#000; float:right; font-size:11px; text-align:right; padding-right:3px;}
#perfiles .perfil_relacionado {clear:both; display:block; width:100%; font-family:'Droid Sans';}
#perfiles .perfil_relacionado a {font-size: 16px; color:#fff; text-decoration:none; display:block; float:left; width:150px; padding:15px 20px 0 30px; height:60px; border-right:1px inset #333}
#perfiles .perfil_relacionado a:last-child{border:none;}



#notas_destacadas td a{ display:block; height:13px; width:0; font-size:0; background:none; color:#ececec; }
#notas_destacadas td:hover a{ background-image:url("fnd_ver_mas1.png"); color:#FFFFFF; display:block; float:right; height:13px; padding-right:5px; text-align:right; text-decoration:none; width:70px; font-size:11px; }
#buscador #ilta_31.swb-ilta { color:#FFFFFF; float:right; font-size:20px; font-weight:normal; margin:43px 65px 0 0; }
#buscador span.numero_ofertas { color:#FFFFFF; display:block; float:right; font-size:13px; font-weight:bold; left:120px; position:relative; top:65px; width:130px; font-family:'Droid Sans'; }



/*--- IFRAME HOME- PENDIENTE ---*/
#contenido_principal iframe.ofertasIf{ border:none; width: 609px; height:375px; overflow-x:hidden; overflow-y:hidden;}

#contenido_principal iframe.testimonioIf{ border:none; width: 305px; height:250px; margin-top:14px; overflow-x:hidden; overflow-y:hidden; }

#contenido_principal div#contenido object, #contenido_principal div#contenido iframe{ border: none; overflow-x:hidden; overflow-y:hidden;}

#contenido_principal iframe { margin: 5px 0 0 0; }

#bar_contenedor a.swb-recommend-stgy {
    float:left;
    left:475px;
    position:relative;}
#s_recommendi1_55 {
    -moz-border-radius:5px 5px 5px 5px;
    background:none repeat scroll 0 0 #FFFFFF;
    font-family:'Droid Sans';
    height:auto !important;
    margin-top:-200px !important;
    padding:30px 40px;}
#s_recommendi1_55 .swb-captcha-imagen {
    float: left;
    width: 30%;	
    padding: 30px 0 0 110px;
}

/*Estilo agregado 2908011*/
#s_recommendi1_55 .swb-captcha-imagen p{
font-size: 12px;
}
#s_recommendi1_55 .swb-captcha-txt {
    padding: 30px 0 0;	
}
#s_recommendi1_55 .swb-rcmnd-cmd {
    clear: both;
    height: auto;
    padding: 30px 0 0;	
}
.swb-rcmnd-in input {
    float:left;
    margin:5px 0 20px;}
.swb-rcmnd-in label {
    color:#454545;
    display:block;
    float:left;
    font-size:15px;
    font-weight:bold;
    margin:5px 5px 0 100px;
    text-align:right;
    width:200px;}
.swb-rcmnd-cmd input[type="button"] {
    -moz-border-radius:5px 5px 5px 5px;
    background:none repeat scroll 0 0 #F47513;
    border:medium none;
    color:#FFFFFF;
    cursor:pointer;
    display:inline;
    float:right;
    margin:10px 10px 10px 0;
    padding:3px;}

/**Estilo agregado 2906011*/
.swb-rcmnd-cmd input[type="reset"] {
    -moz-border-radius:5px 5px 5px 5px;
    background:none repeat scroll 0 0 #F47513;
    border:medium none;
    color:#FFFFFF;
    cursor:pointer;
	padding:3px;
    margin-left: 300px;
    position: relative;
    top: -60px;}
	
#bar_contenedor #rec a.swb-recommend-stgy {
	left: 0;
}

/* Estilos 26-05-2011*/
#contenido_principal #login.logIframe{ padding-bottom: 30px}
#columna_articulos.colIframe{ background: url("sombra_contenido.png") repeat-x scroll 0 0 #FFFFFF}
#wrapper.offIframe{ width: 610px}

/* Estilos 14-09-2011*/
#cuerpo #contenido_principal #login.logIframe form#loginForm input#username{ border: 1px solid #c7c7c7;}
#buscador .ayuda1 {background: url("ico_pregunta.png") no-repeat; color: #FFF; display: block; float: right; height: 34px; margin: 0 20px 0 0; width: 86px;}
#buscador.ac_2011 .ejemplo a.V2012 {background: url("ico_pregunta.jpg") no-repeat !important; color: #FFFFFF; left: 210px !important; margin: 4px 0 0; padding: 0 0 0 25px; position: absolute; top: 0; width: 100px; text-indent:0; text-decoration:underline;}
#loginForm.V2012 {margin: -15px 0 0; padding: 15px 5px 10px; width: 610px; background: url("bg_login.png") no-repeat 0 bottom; position: relative; height: 50px;}
#loginForm .logInputs {width: 300px; float: left;}
#loginForm .logRadios {padding: 3px 0 10px; text-align: center;}
#loginForm .logRadios input[type="radio"] {margin: 0 20px 0 0 !important;}
#loginForm .logBoxes {padding: 0 0 0 5px;}
#login .logLinks {width: 200px; float:left;}
#login input[type="radio"] { border-style:none; } 
#login #loginForm.V2012 #username {background: url("bt_loginUser.gif") no-repeat; border: none; height: 20px; padding-left: 8px; width: 119px; float: left; color: #747474;}
#loginForm.V2012 .bt_mi_carpeta {background: url("bt_miEspacio.gif") no-repeat !important; width: 95px; text-align: center; margin: 27px 0 0; font-family: Arial, Helvetica, sans-serif; padding:4px 8px 4px 5px;}
#loginForm.V2012 .bt_mi_carpeta:hover {background: url("bt_miEspacio_ov.png") no-repeat !important;}
.logLinks a {background: url("bullet_naranja1.gif") no-repeat 0 3px; color: #505050; display: block; font-size: 12px; font-weight: normal; margin: 5px 0 0 20px; padding: 0 0 0 10px;}
.logLinks a:hover {text-decoration: underline;}
#loginForm.V2012 .log_indications {display: block; height: 22px; left: 267px; position: absolute; top: 18px; width: 22px; background: url("bt_indicaciones.gif") no-repeat; cursor:help;}
#loginForm.V2012 .log_indications span {display: none;}
#loginForm.V2012 .log_indications:hover span {background: url("bg_indicaciones.png") no-repeat; color: #505050; display: block; font-size: 11px; font-weight: normal; height: 48px; margin: 0 0 0 23px; padding: 10px 10px 0 15px; position: absolute; width: 305px; z-index: 1000;}

/*Buscador Home - actualizacion dic-2011*/
#espacio_buscador #buscador .que_empleo {
    float: left;
    padding: 20px 0 0 33px;
    width: 327px;
}
#espacio_buscador #buscador .donde {
    float: left;
    padding: 20px 0 0 4px;
    width: 485px;
}
#espacio_buscador #buscador .donde .ejemplo, #espacio_buscador #buscador .que_empleo .ejemplo {
	color: #FFF;
    float: none;
    margin: 0;
    padding: 4px 0 0 11px;
    width: auto;
	position: relative;
}
#buscador.ac_2011 #ilta_31.swb-ilta {
	left: 710px;
    position: absolute;
    top: 5px;
	color: #823030;
}
#buscador.ac_2011 .t_buscador {
    color: #FFFFFF;
    font-size: 20px;
	padding: 0 0 5px;	
}
#buscador.ac_2011 .que_empleo .buscador_1 {
	background: url("buscador_1.jpg") no-repeat scroll 0 0 transparent;
	padding: 11px;
}
#buscador.ac_2011 .donde .buscador_1 {
	background: url("buscador_1B.jpg") no-repeat scroll 0 0 transparent;
	padding: 11px;
}
#buscador.ac_2011 .buscador_1 input[type="text"] {
	border: none;
    color: #4F4F4F;
    font-size: 16px;
	font-family: 'Droid Sans';
	height: 20px;
}
#buscador.ac_2011 .que_empleo .buscador_1 input[type="text"] {
	width: 300px;
}
#buscador.ac_2011 .donde .buscador_1 input[type="text"] {
	width: 210px;
}
#buscador.ac_2011 .que_empleo .ejemplo a.ayuda1 {
	background: url("ico_pregunta.jpg") no-repeat !important;
    left: 210px;
    padding: 4px 0 0 27px;
    position: absolute;
    text-decoration: underline;
    top: 0; 
}
#buscador.ac_2011 #bt_buscador {
	background: url("bt_buscar2011.png") no-repeat;
    border: none;
    height: 36px;
    left: 598px;
    position: absolute;
    text-indent: -9000px;
    top: 50px;
    width: 80px;
}
#espacio_buscador #buscador.b #bt_buscador {
	background: url("bt_buscar2012.png") no-repeat;
    border: none;
    color: #FFFFFF;
    font-size: 18px;
    height: 36px;
    left: 598px;
    position: absolute;
    text-indent: 0;
    top: 53px;
    width: 80px;
	text-indent: -9000px;
}
#espacio_buscador #buscador.b #bt_buscador:hover {
	background: url("bt_buscar2012_ov.png") no-repeat;
}
#buscador.ac_2011 .numero_ofertas {
    color: #823030;
    font-family: Tahoma,Geneva,sans-serif;
    left: 700px;
    position: absolute;
    top: 70px;
}
#ayuda_buscador.ac_2011 .ayuda {
	background: url("ayuda_buscador2011.png") no-repeat !important;
	height: 67px !important;
}
#ayuda_buscador.ac_2011 .quejas {
	background: url("ayuda_buscador2011.png") no-repeat 0 -67px !important;
	height: 58px !important;
}

/*Estilos para buscador interno actualización 2011*/
#buscador_int.ac_2011 .que_empleo {
    float: left;
    width: 239px;
	padding: 7px 0 0 40px;
}
#buscador_int.ac_2011 .donde {
    float: left;
    width: 193px;
	padding: 7px 0 0;
}
#buscador_int.ac_2011 .t_buscador {
    color: #FFF;
    font-size: 14px;
    padding: 0 0 5px;	
}
#buscador_int.ac_2011 .que_empleo .buscador_2 {
	background: url("buscador_2.jpg") no-repeat;
	padding: 6px;
}
#buscador_int.ac_2011 .donde .buscador_2 {
	background: url("buscador_2B.jpg") no-repeat;
	padding: 6px;
}
#buscador_int.ac_2011 .que_empleo .buscador_2 input[type="text"], #buscador_int.ac_2011 .donde .buscador_2 input[type="text"] {
	border: none;
	font-family: 'Droid Sans';
	color: #4F4F4F;		
}
#buscador_int.ac_2011 .que_empleo .buscador_2 input[type="text"] {
	width: 220px;
}
#buscador_int.ac_2011 .donde .buscador_2 input[type="text"] {
	width: 175px;
}
#buscador_int.ac_2011 .ejemplo {
	margin: 3px 0 0;
	color: #fff;
	width: 245px;
}
#buscador_int.ac_2011 .donde .ejemplo {
	margin: 3px 0 0 10px;	
}
#buscador_int.ac_2011 .ayuda1 {
    background: url("ico_pregunta.jpg") no-repeat !important;
    display: block;
    float: right;
    height: 20px;
    text-indent: -9000px;
    width: 35px;
}
#espacio_buscador_int #buscador_int.ac_2011 {
	background: url("fnd_buscador2B.jpg") no-repeat;
}
#espacio_buscador_int #buscador_int.acB #bt_buscador {
    background: url("bt_buscar2012B.png") no-repeat;
    border: none;
    color: #FFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: 28px;
    margin: 30px 0 0 5px;
    padding: 0 0 5px;
    text-indent: 0;
    width: 70px;
	text-indent: -9000px;
}
#espacio_buscador_int #buscador_int.acB #bt_buscador:hover {
    background: url("bt_buscar2012B_ov.png") no-repeat;	
}
#buscador_int.ac_2011 #bt_buscador {
    background: url("bt_buscar2011B.png") no-repeat;
    border: none;
    height: 30px;
    margin: 29px 0 0 5px;
    text-indent: -9000px;
    width: 70px;
}
#ayuda_buscador.ac_2011B .ayuda {
    background: url("ayuda_buscador2011B.png") no-repeat !important;
    height: 45px !important;
	width: 112px !important;
}
#ayuda_buscador.ac_2011B .quejas {
    background: url("ayuda_buscador2011B.png") no-repeat 0 -45px !important;
    height: 40px !important;
	width: 112px !important;
}
.tips a, .link_conocer {
    color: #454545;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
}
.link_conocer {
    background: url("link_conocer.gif") no-repeat scroll 0 0 transparent;
    display: block;
    font-weight: normal !important;
    height: 87px;
    margin: 12px 0 0;
    padding: 12px 172px 0 0;
    text-align: right;
}
.tips span, .link_conocer span {
    color: #EB5B19;
    font-size: 18px;
    font-weight: bold;
}
.link_conocer span {
    font-size: 14px !important;
    letter-spacing: 0.05em;
    line-height: 9px !important;
}