<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
    <title>Curriculum Vitae</title>
	
	<style type="text/css" media="all">
	@page {
    size: 8.5in 11in;
    margin: 0.5in;
	}
	* { margin: 0; padding: 0;}

	/*Envolvente*/
	div#wrapper{ width: 660px; padding: 0 20px; font-family:Verdana, Arial, Helvetica, sans-serif;border:1px solid #f2f2f2;}

	/* Cabecera */
	h1#header{ width: 660px; height: 95px; margin: 0; position: relative;}
	h1#header span{ background: url(https://www.empleo.gob.mx/images/cv1_head.jpg) no-repeat 0 0; width: 100%; height: 100%; margin: 0; border: none; position: absolute;}

	div#data { background-color:#f2f2f2; padding-bottom:20px;}
	div#data h2, div#data p { text-align: right; width: 400px; margin-top: 25px}
	div#data h1{ background: url(https://www.empleo.gob.mx/images/cv1_pleca_tab.jpg) no-repeat top left; color:#FFFFFF; font-weight: bold; font-size:15px; padding: 2px 30px; margin-top: 0px;}
	div#data h2{ color: #5E7030; font-weight: bold; font-size: 17px; margin-bottom:7px; margin-top: 0;}
	div#data p{ font-size: 12px; color:#222222; margin: 3px; font-weight: normal;padding-left:0;}
	div#data p span{ color:#222222; font-weight: bold;}
	div#data p.photo{ border: #CCCCCC 1px solid; width: 99px; height: 99px; padding-right: 0px; margin-right: 30px;float: right; text-align: center; width: 99px; margin-top:15px;}

	/* Contenido */
	div.content { }
	div.content h1{ background-color:#6D6D6D; color:#FFFFFF; font-weight: bold; font-size:15px; padding: 2px 30px; margin-top:0;}
	div.content h1.topic{ margin-top: 15px;}
	div.content h2, p{ padding-left: 30px;padding-right: 30px; margin-bottom:0;}
	div.content h2{ color:#436060; font-size: 15px; font-weight: bold; background:url(https://www.empleo.gob.mx/images/cv1_bullet.jpg) no-repeat 10px; margin-bottom:7px; margin-left:25px; padding-left:25px;}
	div.content p{ font-size: 12px; color:#222222; margin: 3px;}
	div.content p.paragraph{ text-align:justify; margin-bottom: 15px;}
	div.content p span{ color:#5E7030}
	div.content p span.value{ color: #222222}
	div.content p.extraInfo{ color:#009966; font-size:12px; color:#436060;}
	div.content p a{ color:#436060}
	div.content p a:hover{ text-decoration: none;}
	div.content p.line { background: url(https://www.empleo.gob.mx/images/cv1_border_bottom.jpg) repeat-x bottom; padding-bottom: 20px; margin-bottom:15px;}

	/* Footer */
	div#footer { background: url(https://www.empleo.gob.mx/images/cv1_footer.jpg) no-repeat bottom left; height:40px; margin-top:40px; padding-top:5px;}


	.media {
		margin-left: -20px;
	}
	</style>   
	
</head>

<body style="left:-8px; top:21px;">
<div id="wrapper">

    <div id="header" >
    	<img src="https://www.empleo.gob.mx/cv_templates/elegante/images/cv1_head.1.jpg" style="width: 700px; height: 109px" />
   	</div>

    <div >
    	<img src="https://www.empleo.gob.mx/cv_templates/elegante/images/cv1_header_h1.jpg" style="width: 660px; height: 23px; margin-left: 0;" />
   	</div>

	<div id="data">
	
	    <p class="photo">
	        <img src="" width="100%" height="100%" th:src="${'data:image/jpg;base64,'+image}" th:width="'25mm'" th:height="'30mm'"/>
	    </p>
	
	    <h2>
	        <span th:text="${profile_fullName}"></span>
	    </h2>
	
	    <p>
	        <span>G&eacute;nero:</span>
	        <span class="value" th:text="${profile_gender}"></span>
	    </p>
	
	    <p>
	        <span>CURP:</span>
	        <span class="value" th:text="${profile_curp}"></span>
	    </p>
	
	    <p>
	        <span>Edad:</span>
	        <span class="value" th:text="${profile_age}"></span>
	    </p>
	
	    <p>
	        <span>Entidad de nacimiento:</span>
	        <span class="value" th:text="${profile_birthplace}"></span>
	    </p>
	</div>

	<div class="content">
	    <h1>Datos actuales </h1>
	
	    <p class="line">
	        <span>Direcci&oacute;n:</span><br/>
	        <span class="value" th:text="${contact_fullAddress}">
	            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
	        </span>
	    </p>
	
	    <span class="sombra"></span>
	
	</div>

	<div class="content">
	    <h1 class="topic">Datos para contactar </h1>
	        
	    <p class="line" th:if="${not #strings.isEmpty(contact_email)}">
	        <span class="value" th:text="${contact_email}"></span>
	    </p>
	
	    <p class="line" th:if="${not #strings.isEmpty(contact_phone1)}">
	        <span class="value" th:text="${contact_phone1}"></span>
	    </p>
	
	    <p class="line" th:if="${not #strings.isEmpty(contact_phone2)}">
	        <span class="value" th:text="${contact_phone2}"></span>
	    </p>
	
	    <p class="line" th:if="${not #strings.isEmpty(contact_phone3)}">
	        <span class="value" th:text="${contact_phone3}"></span>
	    </p>   
	    
	    <span class="sombra"></span> 
	    
	</div>

	<div class="content">
	    <h1 class="topic">Grado acad&eacute;mico </h1>
	
	    <p>
	        <span>Grado de estudios: </span>
	        <span class="value" th:text="${education_grade}"></span>
	    </p>
	
	    <p>
	        <span>Carrera o especialidad: </span>
	        <span class="value" th:text="${education_career}"></span>
	    </p>
	</div>

	<div class="content">
	    <p class="line">
	        <span>Situaci&oacute;n acad&eacute;mica: </span>
	        <span class="value" th:text="${education_status}"></span>
	    </p>
	</div>


	<div class="content" th:if="${not #strings.isEmpty(education_study1)}">
	    <h1 class="topic">Otros Estudios </h1>
	        
	    <p>
	        <span>Instituci&oacute;n: </span>
	        <span class="value" th:text="${institution_study1}"></span>
	    </p>
	
	    <p>
	        <span>Carrera o especialidad: </span>
	        <span class="value" th:text="${education_study1}"></span>
	    </p>
	</div>


	<div class="content" th:if="${not #strings.isEmpty(education_study2)}">
	    <p>
	        <span>Instituci&oacute;n: </span>
	        <span class="value" th:text="${institution_study2}"></span>
	    </p>
	
	    <p>
	        <span>Carrera o especialidad: </span>
	        <span class="value" th:text="${education_study2}"></span>
	    </p>
	</div>

	<div class="content" th:if="${not #strings.isEmpty(education_study3)}">
	    <p>
	        <span>Instituci&oacute;n: </span>
	        <span class="value" th:text="${institution_study3}"></span>
	    </p>
	
	    <p>
	        <span>Carrera o especialidad: </span>
	        <span class="value" th:text="${education_study3}"></span>
	    </p>
	</div>

	<div class="content" th:if="${not #strings.isEmpty(education_study4)}">
	    <p>
	        <span>Instituci&oacute;n: </span>
	        <span class="value" th:text="${institution_study4}"></span>
	    </p>
	
	    <p>
	        <span>Carrera o especialidad: </span>
	        <span class="value" th:text="${education_study4}"></span>
	    </p>
	</div>	

	<div class="content" th:if="${not #strings.isEmpty(education_study5)}">
	    <p>
	        <span>Instituci&oacute;n: </span>
	        <span class="value" th:text="${institution_study5}"></span>
	    </p>
	
	    <p>
	        <span>Carrera o especialidad: </span>
	        <span class="value" th:text="${education_study5}"></span>
	    </p>
	</div>		

	<div class="content" th:if="${not #strings.isEmpty(education_study6)}">
	    <p>
	        <span>Instituci&oacute;n: </span>
	        <span class="value" th:text="${institution_study6}"></span>
	    </p>
	
	    <p>
	        <span>Carrera o especialidad: </span>
	        <span class="value" th:text="${education_study6}"></span>
	    </p>
	</div>		

	<div class="content" th:if="${not #strings.isEmpty(education_study7)}">
	    <p>
	        <span>Instituci&oacute;n: </span>
	        <span class="value" th:text="${institution_study7}"></span>
	    </p>
	
	    <p>
	        <span>Carrera o especialidad: </span>
	        <span class="value" th:text="${education_study7}"></span>
	    </p>
	</div>			

	<div class="content" th:if="${not #strings.isEmpty(education_study8)}">
	    <p>
	        <span>Instituci&oacute;n: </span>
	        <span class="value" th:text="${institution_study8}"></span>
	    </p>
	
	    <p>
	        <span>Carrera o especialidad: </span>
	        <span class="value" th:text="${education_study8}"></span>
	    </p>
	</div>			

	<div class="content" th:if="${not #strings.isEmpty(education_study9)}">
	    <p>
	        <span>Instituci&oacute;n: </span>
	        <span class="value" th:text="${institution_study9}"></span>
	    </p>
	
	    <p>
	        <span>Carrera o especialidad: </span>
	        <span class="value" th:text="${education_study9}"></span>
	    </p>
	</div>		

	<div class="content" th:if="${not #strings.isEmpty(education_study10)}">
	    <p>
	        <span>Instituci&oacute;n: </span>
	        <span class="value" th:text="${institution_study10}"></span>
	    </p>
	
	    <p>
	        <span>Carrera o especialidad: </span>
	        <span class="value" th:text="${education_study10}"></span>
	    </p>
	</div>			



	<div class="content" th:if="${knowledge}">
	    <h1 class="topic">Conocimientos y habilidades </h1>
	
	
	    <h2 th:if="${not #strings.isEmpty(knowledge_lang)}">Idiomas</h2>
	
	    <p th:if="${not #strings.isEmpty(knowledge_lang1)}">
	        <span>Idioma: </span>
	        <span class="value"  th:text="${knowledge_lang1}"></span>
	    </p>
	
	    <p th:if="${not #strings.isEmpty(knowledge_langCert1)}">
	        <span>Certificaci&oacute;n:</span>
	        <span class="value" th:text="${knowledge_langCert1}"></span>
	    </p>
	
	    <p class="line" th:if="${not #strings.isEmpty(knowledge_langLevel1)}">
	        <span>Dominio: </span>
	        <span class="value" th:text="${knowledge_langLevel1}"></span>
	    </p>
	
	    <span class="sombra" th:if="${not #strings.isEmpty(knowledge_lang2)}"></span>
	
	    <p th:if="${not #strings.isEmpty(knowledge_lang2)}">
	        <span>Idioma: </span>
	        <span class="value" th:text="${knowledge_lang2}"></span>
	    </p>
	
	    <p th:if="${not #strings.isEmpty(knowledge_langCert2)}">
	        <span>Certificaci&oacute;n: </span>
	        <span class="value" th:text="${knowledge_langCert2}"></span>
	    </p>
	
	    <p class="line" th:if="${not #strings.isEmpty(knowledge_langLevel2)}">
	        <span>Dominio: </span>
	        <span class="value" th:text="${knowledge_langLevel2}"></span>
	    </p>
	
	    <span class="sombra" th:if="${not #strings.isEmpty(knowledge_lang3)}"></span>
	
	    <p th:if="${not #strings.isEmpty(knowledge_lang3)}">
	        <span>Idioma:</span>
	        <span class="value" th:text="${knowledge_lang3}"></span>
	    </p>
	
	    <p th:if="${not #strings.isEmpty(knowledge_langCert3)}">
	        <span>Certificaci&oacute;n: </span>
	        <span class="value" th:text="${knowledge_langCert3}"></span>
	    </p>
	
	    <p class="line" th:if="${not #strings.isEmpty(knowledge_langLevel3)}">
	        <span>Dominio:</span>
	        <span class="value" th:text="${knowledge_langLevel3}"></span>
	    </p>
	
	    <span class="sombra" th:if="${not #strings.isEmpty(knowledge_computerBasics)}"></span>
	
	    <h2 th:if="${knowledge_computerBasics}">Computaci&oacute;n b&aacute;sica </h2>
	    <p class="line" th:if="${not #strings.isEmpty(knowledge_computerBasics)}">
	        <span>Conocimientos: </span><br/>
	        <span class="value" th:text="${knowledge_computerBasics}">
	            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
	        </span>
	    </p>
	
	    <span class="sombra" th:if="${not #strings.isEmpty(knowledge_computerOthers)}"></span>
	
	    <h2 th:if="${knowledge_computerOthers}">Otros &nbsp;conocimientos en computaci&oacute;n</h2>
	    <p class="line" th:if="${not #strings.isEmpty(knowledge_computerOthers)}">
	        <span>Otros conocimientos:</span>
	        <span class="value" th:text="${knowledge_computerOthers}">
	            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
	        </span>
	    </p>
	
	    <span class="sombra" th:if="${not #strings.isEmpty(knowledge_understanding1)}"></span>
	
	    <h2 th:if="${knowledge_understanding}">Conocimientos</h2>
	    <p th:if="${not #strings.isEmpty(knowledge_understanding1)}">
	        <span>Otros conocimientos: </span>
	        <span class="value" th:text="${knowledge_understanding1}">
	        </span>
	    </p>
	
	    <p th:if="${not #strings.isEmpty(knowledge_understandingExp1)}">
	        <span>Experiencia: </span>
	        <span class="value" th:text="${knowledge_understandingExp1}">
	        </span>
	    </p>
	
	    <p class="line" th:if="${not #strings.isEmpty(knowledge_understandingDesc1)}">
	        <span>Descripci&oacute;n: </span><br/>
	        <span class="value" th:text="${knowledge_understandingDesc1}">
	            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	        </span>
	    </p>
	
	    <span class="sombra" th:if="${not #strings.isEmpty(knowledge_understanding2)}"></span>
	
	    <p th:if="${not #strings.isEmpty(knowledge_understanding2)}">
	        <span>Otros conocimientos: </span>
	        <span class="value" th:text="${knowledge_understanding2}">
	        </span>
	    </p>
	
	    <p th:if="${not #strings.isEmpty(knowledge_understandingExp2)}">
	        <span>Experiencia: </span>
	        <span class="value" th:text="${knowledge_understandingExp2}">
	        </span>
	    </p>
	
	    <p class="line" th:if="${not #strings.isEmpty(knowledge_understandingDesc2)}">
	        <span>Descripci&oacute;n: </span><br/>
	        <span class="value" th:text="${knowledge_understandingDesc2}">
	            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	        </span>
	    </p>
	
	    <span class="sombra" th:if="${not #strings.isEmpty(knowledge_understanding3)}"></span>
	
	    <p th:if="${not #strings.isEmpty(knowledge_understanding3)}">
	        <span>Otros conocimientos: </span>
	        <span class="value" th:text="${knowledge_understanding3}">
	        </span>
	    </p>
	
	    <p th:if="${not #strings.isEmpty(knowledge_understandingExp3)}">
	        <span>Experiencia: </span>
	        <span class="value" th:text="${knowledge_understandingExp3}">
	        </span>
	    </p>
	
	    <p class="line" th:if="${not #strings.isEmpty(knowledge_understandingExp3)}">
	        <span>Descripci&oacute;n: </span><br/>
	        <span class="value" th:text="${knowledge_understandingExp3}">
	            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	        </span>
	    </p>
	
	</div>

	<span class="sombra" th:if="${not #strings.isEmpty(knowledge_skillsAndAttitudes)}"></span>

	<div class="content">
	
	    <p class="line" th:if="${not #strings.isEmpty(knowledge_skillsAndAttitudes)}">
	        <span th:if="${knowledge_skillsAndAttitudes}">Habilidades y actitudes: </span>
	        <span class="value" th:text="${knowledge_skillsAndAttitudes}">
	            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo
	        </span>
	    </p>
	</div>

	<div class="content" th:if="${requestedJob}">
	    <h1 class="topic">Experiencia y expectativas laborales&nbsp;</h1>
	
	    <h2>Puesto solicitado</h2>
	
	    <p th:if="${not #strings.isEmpty(requestedJob_reqPost)}">
	        <span>Puesto solicitado: </span>
	        <span class="value" th:text="${requestedJob_reqPost}">
	        </span>
	    </p>
	    
	    <p th:if="${not #strings.isEmpty(requestedJob_jobPostExp)}">
	        <span>A&ntilde;os de experiencia en el puesto: </span>
	        <span class="value" th:text="${requestedJob_jobPostExp}">
	        </span>
	    </p>
	
	    <p class="line" th:if="${not #strings.isEmpty(requestedJob_jobExpDesc)}">
	        <span>Describe tu experiencia: </span><br/>
	        <span class="value" th:text="${requestedJob_jobExpDesc}">
	            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	        </span>
	    </p>
	</div>

	<span class="sombra"></span>

	<div class="content" th:if="${expectedJob}">
	    <h2>Expectativas laborales</h2>
	
	    <p th:if="${not #strings.isEmpty(expectedJob_wishSalary)}">
	        <span>Salario pretendido: </span>
	        <span class="value" th:text="${expectedJob_wishSalary}">
	        </span>
	    </p>
	
	    <p th:if="${not #strings.isEmpty(expectedJob_wishJob)}">
	        <span>Tipo de empleo deseado: </span>
	        <span class="value" th:text="${expectedJob_wishJob}">
	        </span><br/>
	        <span>Tipo de contrato deseado: </span>        
	        <span class="value" th:text="${expectedJob_wishContractType}">
	        </span>
	    </p>
	
	    <p th:if="${not #strings.isEmpty(expectedJob_availability)}">
	        <span>Disponibilidad:</span>
	        <span class="value" th:text="${expectedJob_availability}">
	        </span>
	    </p>
	</div>

	<span class="sombra"></span>

	<div class="content" th:if="${lastOrCurrentJob}">
	    <h2>Trabajo actual o &uacute;ltimo </h2>
	
	    <p th:if="${not #strings.isEmpty(lastOrCurrentJob_enterprise)}">
	        <span>Empresa: </span>
	        <span class="value" th:text="${lastOrCurrentJob_enterprise}">
	        </span>
	    </p>
	
	    <p th:if="${not #strings.isEmpty(lastOrCurrentJob_post)}">
	        <span>Puesto: </span>
	        <span class="value" th:text="${lastOrCurrentJob_post}">
	        </span>
	    </p>
	
	    <p th:if="${not #strings.isEmpty(lastOrCurrentJob_hierarchyPost)}">
	        <span>Jerarquia del puesto: </span>
	        <span class="value" th:text="${lastOrCurrentJob_hierarchyPost}">
	        </span>
	    </p>
	
	    <p th:if="${not #strings.isEmpty(lastOrCurrentJob_personsInCharge)}">
	        <span>Personas a cargo: </span>
	        <span class="value" th:text="${lastOrCurrentJob_personsInCharge}">
	        </span>
	    </p>
	
	    <p th:if="${not #strings.isEmpty(lastOrCurrentJob_salary)}">
	        <span>&Uacute;ltimos salario mensual: </span>
	        <span class="value" th:text="${lastOrCurrentJob_salary}">
	        </span>
	    </p>
	
	    <p th:if="${not #strings.isEmpty(lastOrCurrentJob_startDate)}">
	        <span>Fecha inicial: </span>
	        <span class="value" th:text="${lastOrCurrentJob_startDate}">
	        </span>
	    </p>
	
	    <p th:if="${not #strings.isEmpty(lastOrCurrentJob_endDate)}">
	        <span>Fecha Final: </span>
	        <span class="value" th:text="${lastOrCurrentJob_endDate}">
	
	        </span>
	    </p>
	
	    <p th:if="${not #strings.isEmpty(lastOrCurrentJob_activities)}">
	        <span>Funciones que desempe&ntilde;aba: </span><br/>
	        <span class="value" th:text="${lastOrCurrentJob_activities}">
	            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
	        </span>
	    </p>
	</div>
	
    <div >
    	<img src="cv_templates/elegante/images/cv1_footer.jpg" style="width: 700px; height: 67px" />
   	</div>
	
</div>
</body>
</html>